#bgCanvas1{
    width: 562px;
}
#dropper{
    position: absolute;
    left: 52px;
    top: -12px;
    cursor: pointer;
    width: 25px;
    /* z-index: 1; */
    height: 112px;
}
#beakerDiv{
    position: absolute;
    left: 177px;
    top: 174px;
    width: 100px;
    height: 109px;
    /* border: solid; */
}
#beaker{
    position: absolute;
    left: -2px;
    top: -35px;
}
#waterInBeaker{
    position: absolute;
    left: 7px;
    top: 30px;
    width: 88px;
    height: 74px;
}
#dropperAreaDiv{
    position: absolute;
    /* border: solid; */
    width: 540px;
    height: 152px;
    top: 4px;
    left: 9px;
}
#stand{
    position: absolute;
    /* border: solid; */
    left: 317px;
    top: 154px;
    width: 127px;
    height: 120px;
}
#standUnder{
    position: absolute;
    left: 17px;
    top: 14px;
    width: 104px;
    height: 100px;
}
#standtop{
    position: absolute;
    left: 36px;
    top: 42px;
}
#inference1{
    position: absolute;
    left: 25px;
    top: 25px;
    display: none;
    cursor: pointer;
}
 #dropperInHand1{
    position: absolute;
    left: 366px;
    top: 64px;
    width: 86px;
    height: 166px;
    display: none;
    cursor: pointer;
    z-index: 1;
} 
#dropperInHand2{
    position: absolute;
    top: 8px;
    left: 296px;
    width: 86px;
    height: 166px;
    display: none;
    cursor: pointer;
    z-index: 1;

}
#msg1{
    position: absolute;
    left: 30px;
    top: 109px;
    font-size: 15px;
    width: 139px;
    height: 33px;
    border: solid;
    background-color: #ccc5c5;
    border-radius: 9px 9px 9px 9px;
    border-style: ridge;
     display: none;
}
#beakerDropArea{
    position: absolute;
    /* border: solid; */
    left: 137px;
    top: 26px;
    width: 176px;
    height: 176px;
}
#handInBeaker1{
    position: absolute;
    left: 296px;
    top: 8px;
    width: 86px;
    height: 166px;
    display: none;
    cursor: pointer;
    /* z-index: 1; */
}
#handInBeaker2{
    position: absolute;
    left: 216px;
    top: 46px;
    width: 86px;
    height: 166px;
    display: none;
    cursor: pointer;
    /* z-index: 1; */
}
#inference2{
    position: absolute;
    left: 25px;
    top: 25px;
    display: none;
    cursor: pointer;
}
#dropperLiquidSmall{
    position: absolute;
    left: 230px;
    top: 184px;
    height: 26px;
    width: 5px;
    display: none;
}
#inference3{
    position: absolute;
    left: 25px;
    top: 25px;
    display: none;
    cursor: pointer;
}
#handInBeaker3{
    position: absolute;
    top: 46px;
    left: 216px;
    display: none;
    cursor: pointer;
}
#msg2{
    position: absolute;
    left: 30px;
    top: 109px;
    font-size: 15px;
    width: 139px;
    height: 33px;
    border: solid;
    background-color: #ccc5c5;
    border-radius: 9px 9px 9px 9px;
    border-style: ridge;
     display: none;
}
#dropperLiquidLarge{
    position: absolute;
    left: 230px;
    top: 172px;
    height: 41px;
    width: 5px;
    display: none;
}
#inference4{
    position: absolute;
    left: 25px;
    top: 25px;
    display: none;
    cursor: pointer;
}
#helpDiv{
    position: absolute;
    left: 302px;
    top: 117px;
    /* BORDER: SOLID; */
    z-index: 1;
}
.firstpg_txt1{
    /* font-size: 11px !important;
    line-height: 18px !important; */
    position: absolute;
    top: -6px;
    height: 5%;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 120%;
    font-weight: 500;
    color: #626262;
    padding: 5px 0 0 0px;
    margin: 0 0px 0 0;
    left: 8px;
    text-align: justify !important;
}
.firstpg_txt2{
   
    position: absolute;
    top: 39px;
    height: 5%;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 120%;
    font-weight: 500;
    color: #626262;
    padding: 5px 0 0 0px;
    margin: 0 0px 0 0;
    left: 8px;
    text-align: justify !important;
}
.main p {
    overflow:visible;
}
#mainDiv,.varBox {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

img,.varBox {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}