.varBox,
.varTitle,
#bgCanvas,
img,
p,
#mainDiv,
#ContolsWatchglassFerric,
#ContolsWatchglassPottasium,
#thePowders,
#expName,
#changeScreenBtn,
#simHelp,
#simReset {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
/* .varTitle{
    font-size: 1.5vw;
} */
.userSelect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.secondInstruction,
.ThirdInstruction,
.fourthInstruction,
.fifthInstruction {
  display: none;
}
img,
#mainDiv {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}
.sim-canvas {
  overflow: hidden;
}
#bg {
  position: absolute;
  width: 112%;
  height: 100%;
}
#bgCanvas {
  position: absolute;
  height: 115%;
  width: 101%;
  top: -3%;
}
.subButton {
  font-family: 'Noto Sans', 'Noto Sans Malayalam', 'Noto Sans Telugu', sans-serif !important;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #AAAAAA #AAAAAA #888888;
  border-image: none;
  border-style: solid;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  float: none;
  font-size: 1.5vh;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0%;
  padding: 0.45em 0.8em;
  text-decoration: none;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #c8c8c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c8c8c8', GradientType=0);
}
/* Simulation Starts here */
.sim-div {
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  width: 98%;
}
.sim-controls {
  display: none;
}
#firstPage {
  position: absolute;
  height: 100%;
  width: 100%;
}

#firstStand {
  position: absolute;
  height: 71%;
  top: 2%;
  left: 0%;
  /* z-index: 1; */
}
#secondStand {
  position: absolute;
  height: 71%;
  top: 2%;
  left: 54%;
  /* z-index: 1; */
}
#scale {
  position: absolute;
  height: 4%;
  top: 51%;
  left: 73%;
}
#pendulums {
  position: absolute;
  height: 21%;
  left: 84%;
  top: 59%;
}
#theresonanceDroparea {
  position: absolute;
  height: 62%;
  width: 33%;
  left: 23%;
  /* border: solid; */
  top: 10%;
}
#Dragpendulums {
  position: absolute;
  top: 34%;
  height: 48%;
  left: 11%;
  display: none;
}
#theresonanceDragcontainerDiv {
  position: absolute;
  height: 38%;
  width: 21%;
  left: 13%;
  top: 73%;
  z-index: 1;

}
#thedragabbleinsidedragDiv {
  position: absolute;
  height: 24%;
  width: 92%;
  cursor: grab;
}
#pendulumsafterdrop {
  position: absolute;
  height: 19%;
  left: 85%;
  top: 55%;
}
#theanimationdiv {
  position: absolute;
  width: 54%;
  height: 66%;
  top: 12%;
  left: 15%;
}
.thedisplaybobs {
  position: absolute;
  height: 120%;
  left: 10%;
  top: 4%;
}
#thedraganimationdiv {
  /* position: absolute; */
  height: 98%;
  width: 99%;
}
#theDropanimationdiv {
  position: absolute;
  height: 98%;
  width: 99%;
  top: 7%;
}
#theDropanimationdiv img {
  display: none;
}
.Finalanimation {
  position: absolute;
  height: 123%;
  top: -4%;
  left: 10%;
}
#InferenceButton {
  position: absolute;
  height: 12%;
  top: 11%;
  left: 3%;
  z-index: 2;
  display: none;

}

#Arrow{
  position: absolute;
  height: 15%;
  top: 60%;
  left: 25%;
  transform: rotate(-4deg);
  display: none;

}
/* Labeling */
#thelabelsDiv{
  position: absolute;
  height: 10%;
  width: 33%;
  /* border: solid; */
  z-index: 2;
  left: 28.5%;
  top: 4%;
  display: none;
}
#LabelA{
  position: absolute;
  height: 72%;
  left: 24.6%;
  top: 36%;
}

#LabelB{
  position: absolute;
  height: 72%;
  left: 38.6%;
  top: 33%;
}

#LabelC{
  position: absolute;
  height: 72%;
  left: 56%;
    top: 32%;
}

#LabelD{
  position: absolute;
  height: 72%;
  left: 72.6%;
  top: 32%;
}

#LabelE{
  position: absolute;
  height: 72%;
  left: 87%;
  top: 34%;
}

/* ///////////////////////////////////Question Style */
/* question style */
.question__container {
  position: absolute;
  width: 96%;
  height: 88%;
  overflow: hidden;
  background-color: rgba(29, 29, 63, .89);
  z-index: 10000;
  padding: 2%;
  display: flex;
  flex-direction: column;
  display: none;

}

.question__top {
  display: flex;
  border-bottom: solid .5px rgb(113, 96, 129);

  padding-bottom: 15px;
}

.question__top div {
  flex: 1;
  color: beige
}

.question__scorediv {
  text-align: right;
}

.question__question {
  width: 100%;
  color: beige;
  padding-top: 15px;
  padding-bottom: 15px;

}

.question__area {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.question__options {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  justify-content: center;
  /* Center horizontally */

}

.question__options div {
  display: flex;
  border: solid .5px rgb(97, 97, 97);
  border-radius: 5px;
  flex: 1;
  padding-left: 10px;
  cursor: pointer;
  align-items: center;
  color: burlywood;
}

.question__options div:hover {
  /* background-color: rgba(148, 128, 167, 0.808); */
  color: rgb(197, 223, 126);
}

.question__active {
  background-color: rgb(148, 128, 167);
  color: black;
}

.question__correct {
  background-color: rgb(70, 128, 113);
  color: black;
}

.question__correct:hover {
  background-color: rgb(70, 128, 113);
  color: black;
}

.question__wrong {
  background-color: rgb(105, 43, 72);
  color: black;
}

/* questions stylke */
.questionLayout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d102eed;

  top: 0%;
  z-index: 1000;

}

.questionNumber {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: #c0c1c900;
  top: 2%;
  border-bottom: solid #ffffff75;
}

.questionNumberTestDesign {
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1rem;
  top: 20%;
  left: 3%;
  font-family: 'Inconsolata';
}

.questionNumberScoreDesign {
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1rem;
  top: 20%;
  left: 82%;
  font-family: 'Inconsolata';
}

.questionText {
  position: absolute;
  color: #cac9cbb3;
  top: 18%;
  left: 3%;
  /* background-color: rgb(36, 14, 66); */
  width: 94%;
  height: 21%;
}
.questionTextAlignment {
  position: absolute;
  width: 94%;
  height: 75%;
  top: 11%;
  left: 2%;
  font-size: .76rem;
  color: #fcf8f8;
  text-align: justify;
  line-height: 1.3;
  cursor: not-allowed;
}
.OptionOne {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 34%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.OptionTwo {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 48%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.OptionThree {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 62%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.OptionFour {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 76%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.optionTestDesign {
  position: absolute;
  color: #ffffff;
  font-size: .99rem;
  top: 20%;
  left: 5%;
}

.optionNo {
  padding-right: 7px;
}

/* .trip-content{
  color: #DDDDDD;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 30px;
} */

#FirstNext{
  position: absolute;
  left: 86%;
  top: 87%;
  width: 12%;
  display: none;
}