.varBox,
.varTitle,
#bgCanvas,img,p,#mainDiv,#ContolsWatchglassFerric,#ContolsWatchglassPottasium,#thePowders,#expName ,#changeScreenBtn,#simHelp,#simReset{

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
/* .varTitle{
    font-size: 1.5vw;
} */
.userSelect { -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select: none;}

.secondInstruction,.ThirdInstruction,.fourthInstruction,.fifthInstruction{
    display: none;
}
img,#mainDiv{
  -webkit-user-drag: none;
  -khtml-user-drag:none;
    -moz-user-drag:none;
    -ms-user-drag:none;
}
#bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
}
#bgCanvas{
    position: absolute;
    height: 115%;
    width: 101%;
    top: -3%;
}
.d-none{
  display:none}

  .subButton {
    font-family: 'Noto Sans','Noto Sans Malayalam','Noto Sans Telugu', sans-serif !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA #AAAAAA #888888;
    border-image: none;
    border-style: solid;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-size: 1.5vh;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0%;
    padding: 0.45em 0.8em;
    text-decoration: none;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#c8c8c8));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#c8c8c8 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#c8c8c8 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#c8c8c8 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#c8c8c8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#c8c8c8',GradientType=0 );
  }

/* Simulation Starts here */


.sim-div {
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
    width: 98%;
}
.sim-controls{
    /* display: none; */
}

/* First page style */

#FirstPage{
  position: absolute;
  height: 99%;
  width: 99%;
  overflow: hidden;
}
#firstPagebutton{
  position: absolute;
}
.StringwithoutDrag{
  position: absolute;
  height: 12%;
  top: 65%;
  left: 74%;
  cursor: grab;
}
.Woodenstand{
  position: absolute;
  height: 54%;
  top: 24%;
  left: 1%;
  width: 7%;
  z-index: 1;
}
.Hook{
  position: absolute;
  height: 8.2%;
  left: 5%;
  top: 42.7%;
}
#thefistDroparea{
  position: absolute;
  height: 21%;
  left: 8%;
  width: 25%;
  top: 35%;

}
.String{
  position: absolute;
  height: 2%;
  width: 58%;
  top: 51%;
  left: 23%;
  display: none;
}
.Charcter{
  position: absolute;
  height: 98%;
  left: 79%;
  top: 2%;
  width: 22%;
  display: none;
}

/* #page1Div{
  top: 0%;
  left: 85%;
  width: 15%;
  height: 21%;
} */
/* timer */
.clockClass{
  position: absolute;
  width: 15%;
  height: 21%;
  display: none;
  top: 0%;
  left: 85%;
}

.stopWatchDiv
{
  font-size: 1.1vw;
  /* font-weight: bold; */
  width: 23%;
  min-height: 12px;
  /* max-height: 50px; */
  background-color: transparent;
  z-index: 2;
  position: absolute;
  /* border-radius: 35px; */
  top: 13%;
  left: 74%;
  border: solid 1px #342952;
  /* font-family: 'Orbitron', sans-serif; */
  display: none;
}
.timeShow
{
    padding-top: 0px;
    /* font-size: 12px; */
}
#titleid{
  margin-top: -2% !important;
}
.w
{
  width: 98%;
  /* table-layout: fixed; */
  /* padding-left: 12%; */
}
.Stopwatch{
  position: absolute;
  height: 296%;
  left: 70%;
}
#firstPagebutton{
  top: 71%;
  left: 42%;
  width: 12%;
  display: none;

}

/* Result View */
#resultwindow{
  position: absolute;
  height: 81%;
  width: 95%;
  left: 2%;
  border: solid;
  border-radius: 30px 10px 30px 0px;
  opacity: 0.9;
  outline: 2px double #FFFFFF;
  background: linear-gradient(156deg, #DBEFBD 0%, #FFFFFF 100%);
  top: 13%;
  overflow: hidden;
  z-index: 1;
}
#firstresult{
  position: absolute;
  top: 15%;
  left: 6%;
  width: 90%;
}
#TheOutput{
  margin-top: 4%;
  left: 31%;
  /* position: absolute; */
  width: 31%;
  pointer-events: none;
}
#firtsResult{
  margin-top: 2%;
  left: 66%;
  height: 89%;
 
  /* position: absolute; */


}
#secondfirstresult{
  position: absolute;
  top: 56%;
  left: 4%;
  width: 93%;
}
#TheOutput2{
  margin-top: 4%;
  left: 31%;
  /* position: absolute; */
  width: 31%;
  pointer-events: none;

}
#SecondResult{
  margin-top: 2%;
  left: 66%;
  /* width: 37%; */
  height: 89%;
  /* position: absolute; */
  
}
#CheckResult{
  position: absolute;
  top: 86%;
  left: 42%;
  margin-top: 10%;
}
#changeInLength,#JourneyLength{
  cursor: pointer;
}

/*  */
#thewrongansweerdiv{
  position: absolute;
  height: 45%;
  width: 64%;
  left: 13%;
  border: solid;
  border-radius: 30px 10px 30px 0px;
  opacity: 1;
  outline: 2px double #FFFFFF;
  background: linear-gradient(156deg, #DBEFBD 0%, #FFFFFF 100%);
  top: 15%;
}
#writeAnsw{
  position: absolute;
  height: 39%;
  top: 99%;
  left: 40%;

}
#WrongTimeperiod{
  width: 73%;
  margin-left: 50%;
  overflow: hidden;
}
#WrongTimeSpeed{
  width: 21%;
  margin-left: 54%;
}
/* Editting after gotten images */
.stringwithhand{
  position: absolute;
  height: 66%;
  top: 11%;
  /* width: 83%; */
  left: 1%;
  /* display: none; */
}
#firstanimationDiv{
  position: absolute;
  height: 98%;
  width: 99%;
  pointer-events: none;
}
.Predefinedstringwithhand{
  position: absolute;
  height: 66%;
  top: 11%;
  /* width: 83%; */
  left: 1%;
  display: none;
}
#thethirdOrientationdiv{
  position: absolute;
  height: 98%;
  width: 99%;
  pointer-events: none;
}
.Thirdstringwithhand{
  position: absolute;
  height: 111%;
  top: -6%;
  /* width: 83%; */
  left: -14%;
  /* display: none; */
}
#thefifthOrientationdiv{
  position: absolute;
  height: 98%;
  width: 99%;
  pointer-events: none;
}
.fifthstringwithhand{
  position: absolute;
  height: 111%;
  top: -6%;
  /* width: 83%; */
  left: -14%;
  /* display: none; */
}
.inference{
  position: absolute;
  height: 14%;
  top: 7%;
  left: 2%;
  display: none;
  z-index: 4;
}
#Stringtag{
  position: absolute;
  height: 8%;
  left: 70%;
  top: 78%;
}
#Hooktag{
  position: absolute;
  height: 8%;
  left: 0%;
  top: 78%;
}
.subButton2 {
  font-family: 'Noto Sans','Noto Sans Malayalam','Noto Sans Telugu', sans-serif !important;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #AAAAAA #AAAAAA #888888;
  border-image: none;
  border-style: solid;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  float: none;
  font-size: 1.2vw;
  font-weight: bold;
  line-height: 1.3em;
  margin: 0%;
  padding: 0.45em 0.8em;
  text-decoration: none;
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#c8c8c8));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#c8c8c8 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#c8c8c8 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#c8c8c8 100%);
  background: linear-gradient(to bottom, #eeeeee 0%,#c8c8c8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#c8c8c8',GradientType=0 );
}
