#bg {
    width: 100%;
    height: 100%;
}
.steel_rod{
position: absolute;
top: 66%;
left: 42%;
transform: rotate(-17deg);
width: 26%;
height: 17%;
}
  #label1{
    position: absolute;
    top: 66%;
    right: 67%;
    color: white;
  }
  #label2{
    position: absolute;
    top: 65%;
    left: 69%;
    color: white;
  }
p.one{
  border-width: 1px;
  border-style: outset;
  background-color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 20%;
  text-align: center;
  margin-top: -1%;
  font-size: 1.3vw;
}
#amplitude{
  /* font-size: 1vw; */
  margin-top: -1%;
  font-size: 1.5vw;
}
.userSelect {
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
}
img{
  -webkit-user-drag: none;
  -khtml-user-drag:none;
  -moz-user-drag:none;
  -ms-user-drag:none;
}
.strickclass{
  position: absolute;
  width: 45%;
  height: 39%;
  left: 40%;
  top: 25%;
  display: none;
}
.soundImageclass2{
  position: absolute;
  width: 35%;
  height: 29%;
  left: 30%;
  top: 25%;
  display: none;
}
.soundImageclass{
  position: absolute;
  width: 35%;
  height: 29%;
  left: 54%;
  top: 22%;
  display: none;
}
#value1{
  position: absolute;
  top: 66%;
  right: 68%;
  color: white;
  font-size: 1.1vw;
}
#value2{
  position: absolute;
  top: 66%;
  left: 72%;
  color: white;
  font-size: 1.1vw;
}
#tuningfork1{
position: absolute;
top: 42%;
left: 57%;
width: 14%;
height: 31%;
}
#tuningfork2{
position: absolute;
top: 42%;
left: 33%;
width: 14%;
height: 31%;
}
#inferenceImg{
  position: absolute;
  height: 10%;
  width: 6%;
  left: 3%;
  top: 12%;
  cursor: pointer;
  z-index: 100;
  display: none;
}
#freequency{
  padding-top: 3%;
  padding-bottom: 3%;
  width: 95%;
  text-align: left;
  margin-top: -1%;
  font-size: 1.3vw;
  /* cursor: pointer; */
}
#check {
  width: 95%;
  padding-bottom: 3%;
  padding-top: 3%;
  font-size: 1.3vw;
}
#showResult{
  /* border: solid; */
  margin-top: 4%;
  font-size: 1vw;
}
#select{
  /* font-size: 1.5vw; */
  margin-top: 1%;
}
#labelv1{
  position: absolute;
  top: 68%;
  right: 64%;
  color: white;
  font-size: 1.1vw;
}
#labelv2{
  position: absolute;
  top: 67%;
  left: 71%;
  color: white;
  font-size: 1.1vw;
}
#v1{
  font-size: 1.2vw;
}
#v2{
  font-size: 1.2vw;
}
#v{
  font-size: 1.2vw;
}
#timer{
  top: 26%;
  position: absolute;
  left: 57%;
  font-size: 1vw;
}
#stopWatchDiv{
  position: absolute;
  top: 53%;
  left: 46%;
  width: 12%;
  height: 16%;
  display: none;
}
#stopWatch{
  position: absolute;
  width: 100%;
  height: 100%;
}
#timeDiv{
  position: absolute;
  top: 25%;
  left: 17%;
  font-size: 1vw;
}
#dropdown1{
  padding-top: 3%;
  padding-bottom: 3%;
  width: 95%;
  text-align: left;
  margin-top: 2%;
  font-size: 1.3vw;
}
#dropdown2{
  padding-top: 3%;
  padding-bottom: 3%;
  width: 95%;
  text-align: left;
  margin-top: 2%;
  font-size: 1.3vw;
}
#note1{
  position: absolute;
  top: 9%;
  left: 14%;
  width: 66%;
  text-align: justify;
  padding: 6px 13px 0px 15px;
  font-weight: bold;
  background-color: lavenderblush;
  border-radius: 15px;
  display: none;
  font-size: 1.1vw;
  /* background: linear-gradient(90deg, rgb(165, 247, 240) 0%, rgb(248, 248, 246) 35%, rgb(165, 247, 240) 100%);  */
}
#note2{
  position: absolute;
  left: 2%;
  top: 9%;
  width: 91%;
  text-align: justify;
  padding: 6px 13px 0px 15px;
  font-weight: bold;
  background-color: lavenderblush;
  border-radius: 15px;
  font-size: 1.1vw;
  display: none;
}
#note3{
  position: absolute;
  left: 21%;
  top: 18%;
  width: 58%;
  text-align: justify;
  padding: 6px 13px 0px 15px;
  font-weight: bold;
  background-color: lavenderblush;
  border-radius: 15px;
  font-size: 1.1vw;
  display: none;
}
#note4{
  position: absolute;
  left: 21%;
  top: 18%;
  width: 58%;
  text-align: justify;
  padding: 6px 13px 0px 15px;
  font-weight: bold;
  background-color: lavenderblush;
  border-radius: 15px;
  font-size: 1.1vw;
  display: none;
}