.varTitle {
    list-style-type: decimal;
}
.varBox,.varTitle,#type,.trip-content,.labName,.mainTitle p,.main p{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
img{
    -webkit-user-drag: none;
    -khtml-user-drag:none;
    -moz-user-drag:none;
    -ms-user-drag:none;
}

#canvasBox
{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select:none; 
    user-select:none;
    -o-user-select:none;
}
/* img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

#canvasBox {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
} */
#bg {
    position: absolute;
    width: 100%;
    height: 107%;
}

#bg1 {
    position: absolute;
    width: 100%;
    height: 103%;
    /* display: none; */
}
#bg2 {
    position: absolute;
    width: 100%;
    height: 101.5%;
    /* display: none; */
}

/* #canFigure2 {
    position: absolute;
    /* border: solid;
    width: 99%;
    height: 98%; */
#canFigure2 
{
    display: none;
}
#canFigure3
{
    display: none;
}
.nameTagH {
    position: absolute;
    top: 77.5%;
    left: 71.5%;
    font-weight: bold;
    font-size: large;
}
.nameTagHFig2 {
    position: absolute;
    top: 82.7%;
    left: 75.9%;
    font-weight: bold;
    font-size: small;
}
.nameTagA 
{
    position: absolute;
    top: 78%;
    left: 83%;
    font-weight: bold;
    font-size: small;
}
.nameTagAFig2 
{
    position: absolute;
    top: 81.8%;
    left: 64.4%;
    font-weight: bold;
    font-size: small;
}
.nameTagCCl4 
{
    position: absolute;
    top: 74.1%;
    left: 3.8%;
    font-weight: bold;
    font-size: large;
}
#iceBathCubes
{
    position: absolute;
    left: 4%;
    top: 53%;
    width: 25%;
    height: 34%;
}
#iceBath 
{
    position: absolute;
    width: 103%;
    height: 111%;
    left: -2%;
    top: 2%;
    /* display: none; */
}
#ice_cubes
{
    /* position: absolute;
    width: 93%;
    height: 84%;
    left: 5%;
    top: 31%; */
    /* display: none; */
    position: absolute;
    width: 94%;
    height: 101%;
    left: 5%;
    top: 14%;
}

#beaker 
{
    position: absolute;
    width: 100%;
    height: 95%;
    left: 0%;
    top: 4%;
}
#beakerFig2
{
    position: absolute;
    width: 85%;
    height: 83%;
    left: 6%;
    top: 12%;
}
#yellowbeakerFig2
{
    position: absolute;
    /* width: 85%;
    height: 83%; */
    left: 6%;
    top: 12%;
}
#beakerFig3
{
    /* position: absolute;
    width: 13%;
    height: 28%;
    left: 16.5%;
    top: 54%; */
    position: absolute;
    /* width: 13%; */
    /* height: 28%; */
    left: 20.5%;
    top: 61%;
    /* display: none; */
}
#funnelwithsatand
{
    position: absolute;
    width: 22%;
    height: 40%;
    left: 14%;
    top: 48%;
}
#yellowSol
{
    position: absolute;
    width: 15%;
    height: 32%;
    left: 38%;
    top: 56%;
}
#funnel
{
    position: absolute;
    width: 60%;
    height: 96%;
    left: 19.8%;
    top: -7%;
    /* transform: rotate(180deg); */
}
#tube
{
    position: absolute;
    /* width: 7%; */
    /* height: 128%; */
    left: 45.8%;
    top: 1%;
}
#butterpaperflat
{
    position: absolute;
    width: 9%;
    /* height: 11%; */
    left: 46.8%;
    top: 85%;
    transform: rotate(305deg);
}
#butterpaperflatyellow
{
    position: absolute;
    /* width: 10%; */
    /* height: 13%; */
    left: 20.5%;
    top: 46%;
    display: none;
}
#waterInJar {
    position: absolute;
    width: 88.5%;
    height: 11%;
    left: 7%;
    top: 85%;
}

#beakerwithHA 
{
    position: absolute;
    top: 63%;
    left: 36%;
    height: 24%;
    width: 11%;
    /* display: none; */
}


#waterInJarHCL 
{
    position: absolute;
    width: 88.5%;
    height: 21%;
    left: 7%;
    top: 76%;
    display: none;
}
#waterInJarClr 
{
    position: absolute;
    width: 89.5%;
    height: 23%;
    left: 7%;
    top: 74%;
    display: none;
}
#waterInJarClrFig2 
{
    position: absolute;
    width: 73%;
    height: 23%;
    left: 13%;
    top: 70%;
}
#yellowFig2 
{
    /* position: absolute;
    width: 75%;
    height: 58%;
    left: 12%;
    top: 36%; */
    /* display: none; */
    position: absolute;
    width: 63%;
    height: 44%;
    left: 12%;
    top: 36%;
}


#waterInJarAni 
{
    position: absolute;
    width: 86.5%;
    height: 23%;
    left: 8%;
    top: 73%;
    display: none;
}

/* #slantwater {
    position: absolute;
    width: 0;
    height: 0px;
    top: -2px;
    left: 39px;
    opacity: 0.5;
    border-left: 0px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 174px solid rgb(255, 255, 255);
} */

#cylinder {
    position: absolute;
    width: 5%;
    height: 29%;
    left: 57%;
    top: 61%;
    display: none;
}

#cylinderwaterInJar 
{
    position: absolute;
    width: 3%;
    height: 29%;
    left: 58%;
    top: 61%;
    /* cursor: pointer;     */
}

#cylinderDropBeak {
    position: absolute;
    width: 102%;
    height: 94%;
    left: 2%;
    top: 7%;
}

#waterInJarDropbeak {
    position: absolute;
    width: 76.5%;
    height: 75%;
    left: 16%;
    top: 21%;
    display: none;
}
#hclV
{
    position: absolute;
    width: 94.5%;
    height: 87%;
    left: -7%;
    top: 7%;
    display: none;
}

#cylinderwaterInJarAnil 
{
    position: absolute;
    width: 16.5px;
    height: 29%;
    left: 58.5%;
    top: 61%;
    display: none; 
    /* cursor: pointer;     */
}
#cylinderwaterInJarAnilfig2
{
    position: absolute;
    width: 17px;
    height: 29%;
    left: 58.5%;
    top: 61%;
    /* display: none; */
    /* cursor: pointer;     */
}
#cylinderwaterInJarHclfig2
{
    position: absolute;
    width: 16px;
    height: 29%;
    left: 58.5%;
    top: 61%;
    /* border: solid; */
    display: none;
    /* cursor: pointer;     */
}
#cylinderDropBeakAnil 
{
    position: absolute;
    width: 102%;
    height: 94%;
    left: 2%;
    top: 7%;
    display: none;
}
#cylinderDropBeakAnilfig2 
{
    position: absolute;
    width: 102%;
    height: 94%;
    left: 2%;
    top: 7%;
    /* display: none; */
}
#cylinderDropHclfig2 
{
    position: absolute;
    width: 68%;
    height: 31%;
    left: 14%;
    top: 64%;
    display: none;
}

#cylinderDropBeakHclfig2 
{
    position: absolute;
    width: 102%;
    height: 94%;
    left: 2%;
    top: 7%;
    /* display: none; */
}

#waterInJarDropbeakAnil 
{
    position: absolute;
    width: 70.5%;
    height: 31%;
    left: 18%;
    top: 64%;
    display: none;
}
#waterInJarDropbeakAnilfig2 
{
    position: absolute;
    width: 70.5%;
    height: 31%;
    left: 18%;
    top: 64%;
    display: none;
}
#waterInJarDropbeakHclfig2 
{
    position: absolute;
    width: 74.5%;
    height: 8%;
    left: 11%;
    top: 85%;
    display: none;
}
#anilV
{
    position: absolute;
    width: 85.5%;
    height: 87%;
    left: 2%;
    top: 8%;
    display: none; 
}
#anilVfig2
{
    position: absolute;
    width: 85.5%;
    height: 87%;
    left: 2%;
    top: 8%;
    display: none; 
}
#anilVfig3
{
    position: absolute;
    /* width: 59%; */
    /* height: 78%; */
    left: 6%;
    top: 14%;
    display: none; 
}
#benSolVerti
{
    position: absolute;
    width: 57.5%;
    height: 92%;
    left: 41%;
    top: 3%;
    display: none; 
}
#hclVfig2
{
    position: absolute;
    width: 85.5%;
    height: 87%;
    left: 2%;
    top: 8%;
    display: none; 
}
#bottAnil
{
    position: absolute;
    width: 10%;
    height: 32%;
    left: 82%;
    top: 57%;
}
#bottAnilfig2
{
    position: absolute;
    width: 9%;
    height: 24%;
    left: 64%;
    top: 67%;
}

#bottleHCL {
    position: absolute;
    width: 11%;
    height: 34%;
    left: 69%;
    top: 57%;
}
#bottleCorben
{
    position: absolute;
    width: 11%;
    height: 40%;
    left: 2%;
    top: 50%;
}
#bottleHCLfig2 
{
    position: absolute;
    width: 8%;
    height: 26%;
    left: 74%;
    top: 67%;
}

#bottleAniline 
{
    position: absolute;
    width: 95%;
    height: 105%;
    left: 1%;
    top: -1%;
}
#bottleAnilinefi2
{
    position: absolute;
    width: 95%;
    height: 105%;
    left: 1%;
    top: -1%;
}
#Anilinesol 
{
    position: absolute;
    width: 93%;
    height: 71%;
    left: 1%;
    top: 32%;
}
#Anilinesolfi2
{
    position: absolute;
    width: 93%;
    height: 71%;
    left: 1%;
    top: 32%;
}
#dropperHCL 
{
    position: absolute;
    width: 58%;
    height: 80%;
    left: 14%;
    top: 10%;
}
#dropperCCL 
{
    position: absolute;
    width: 58%;
    height: 80%;
    left: 14%;
    top: 10%;
}

#dropperHCL1 {
    position: absolute;
    width: 5%;
    height: 31%;
    left: 57%;
    top: 30%;
    display: none;
}

#dropperLiquidHCL 
{
    position: absolute;
    width: 20%;
    height: 39%;
    left: 34%;
    top: 51%;
}
#dropperLiquidCCL 
{
    position: absolute;
    width: 20%;
    height: 39%;
    left: 34%;
    top: 51%;
}
#dropperLiquidHCL1 
{
    position: absolute;
    width: 1%;
    height: 13%;
    left: 59%;
    top: 47%;
    display: none;
}

#dropperWithHCLLiq 
{
    position: absolute;
    width: 6%;
    height: 38%;
    left: 72%;
    top: 39%;
    cursor: pointer;
}
#dropperWithCclLiq 
{
    position: absolute;
    width: 5.5%;
    height: 35%;
    left: 5.2%;
    top: 34%;
    /* cursor: pointer; */
}

#dropperAniline 
{
    position: absolute;
    width: 58%;
    height: 80%;
    left: 12%;
    top: 11%;
}

#dropperAnilinefig2 
{
    position: absolute;
    width: 58%;
    height: 80%;
    left: 12%;
    top: 11%;
}
#dropperHclfig2 
{
    position: absolute;
    width: 58%;
    height: 80%;
    left: 12%;
    top: 11%;
}

#dropperLiquidAniline {
    position: absolute;
    width: 20%;
    height: 39%;
    left: 34%;
    top: 51%;
}
#dropperLiquidAnilinefig2 {
    position: absolute;
    width: 20%;
    height: 39%;
    left: 34%;
    top: 51%;
}
#dropperLiquidHclfig2 
{
    position: absolute;
    width: 20%;
    height: 39%;
    left: 34%;
    top: 51%;
}


#dropperWithAniliLiq {
    position: absolute;
    width: 6%;
    height: 38%;
    left: 84.2%;
    top: 39%;
    /* cursor: pointer; */
}
#dropperWithAniliLiqfi2 {
    position: absolute;
    width: 4%;
    height: 27%;
    left: 66.6%;
    top: 54%;
    /* cursor: pointer; */
}
#dropperWithHclLiqfi2 
{
    position: absolute;
    width: 4%;
    height: 27%;
    left: 76.5%;
    top: 54%;
    /* cursor: pointer; */
}
#waterInJarCyl {
    position: absolute;
    width: 3.5%;
    height: 11%;
    left: 57.7%;
    top: 79%;
    display: none;
}

#cyldropHCLAnil {
    position: absolute;
    width: 14%;
    height: 57%;
    left: 53%;
    top: 8%;
}
#cyldropHCLAnilfig2 {
    position: absolute;
    width: 11%;
    height: 57%;
    left: 54%;
    top: 10%;
    /* border: solid; */
}

#drop1 
{
    position: absolute;
    width: 1%;
    height: 3.5%;
    left: 59.3%;
    top: 69%;
    display: none;
}
#dropA
{
    position: absolute;
    width: 1%;
    height: 3.5%;
    left: 59.7%;
    top: 69%;
    display: none;
}
#dropAfig2
{
    position: absolute;
    width: 1%;
    height: 3.5%;
    left: 59.8%;
    top: 61%;
    display: none;
}
#dropHclfig2
{
    position: absolute;
    width: 0.5%;
    height: 3.5%;
    left: 59.5%;
    top: 61%;
    display: none;
}
#dropcclbeak
{
    position: absolute;
    width: 0.5%;
    height: 3.5%;
    left: 38.9%;
    top: 53%;
    display: none;
}

#dropAfig2beak
{
    position: absolute;
    width: 0.6%;
    height: 12.5%;
    left: 39.4%;
    top: 55%;
    display: none;
}
#dropHclfig2beak
{
    position: absolute;
    width: 0.5%;
    height: 12.5%;
    left: 38.4%;
    top: 55%;
    display: none;
}
#dropbenfig2beak
{
    position: absolute;
    width: 0.5%;
    height: 12.5%;
    left: 38.4%;
    top: 55%;
    display: none;
}
#yellowpour
{
    position: absolute;
    width: 1%;
    height: 13.5%;
    left: 23.3%;
    top: 33%;
    display: none;
}
#dropfig2
{
    position: absolute;
    width: 0.9%;
    height: 22%;
    left: 20.3%;
    top: 52%;
    display: none;  
}

#beakcyldropHCLAnil {
    position: absolute;
    height: 50%;
    width: 22%;
    left: 29%;
    top: 16%;
}

#pourline {
    position: absolute;
    height: 17%;
    width: 0.5%;
    left: 44%;
    top: 48%;
    display: none;
}
#pourlineA
{
    position: absolute;
    height: 17%;
    width: 0.5%;
    left: 44%;
    top: 48%;
    display: none; 
}
#glasstube 
{
    position: absolute;
    height: 125%;
    width: 4.9%;
    left: 79%;
    top: -26%;
    transform: rotate(15deg);
    /* display: none; */
}
#glasstubefig2 
{
    position: absolute;
    height: 125%;
    width: 4.9%;
    left: 18%;
    top: -28%;
    transform: rotate(341deg);
    /* display: none; */
}

#beakcyldropHCLAnilineIce {
    position: absolute;
    height: 46%;
    width: 33%;
    left: 1%;
    top: 16%;
}
#beakcyldropsolIce
{
    position: absolute;
    height: 44%;
    width: 28%;
    left: 1%;
    top: 16%;
    /* border: solid; */
    /* display: none; */
}

/* #nextFigure2 {
    position: absolute;
    height: 7%;
    width: 10%;
    left: 85%;
    top: 11%;
    box-shadow: 0px 0px 10px 0px silver;
    cursor: pointer;
    border: 2px solid #739f3f;
    background-color: 0px 0px 10px 0px silver;
    padding: 11px;
    border-radius: 9px;
    padding-left: 8px;
    padding-right: -1px;
    text-align: center;
    line-height: 0;
    font-weight: bolder;
    content: '>';
    /* display: none; */



/* #nextFigure2:hover {
    color: #001F3F;
    background-color: rgb(155, 241, 144); */
 


 /* #nextFigure2 {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  } */
  
  #nextFigure2{
    height: 8%;
    width: 12%;
    left: 84%;
    top: 11%;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transition: 0.5s;
    border-radius: 6px;
    background-color: #051e35;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: -8px;
    /* width: 195px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    font-weight: bold;
    box-shadow: 0 3px 31px 5px rgb(41 255 43 / 44%);
    /* box-shadow: 0 3px 31px 5px rgba(214, 2, 2, 0.44); */
    /* display: none; */
  }
  
  #nextFigure2:after {
    margin-top: -9.5px;
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  #nextFigure2:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  #nextFigure2:hover:after {
    opacity: 1;
    right: 10px;
  }

#nextFigure3
{
    height: 8%;
    width: 12%;
    left: 84%;
    top: 11%;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transition: 0.5s;
    border-radius: 6px;
    background-color: #051e35;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: -8px;
    /* width: 195px; */
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    font-weight: bold;
    box-shadow: 0 3px 31px 5px rgb(41 255 43 / 44%);
    /* box-shadow: 0 3px 31px 5px rgba(214, 2, 2, 0.44); */
    /* display: none; */
}
  
#nextFigure3:after 
{
    margin-top: -9.5px;
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
}
  
#nextFigure3:hover
{
    padding-right: 24px;
    padding-left:8px;
}
  
#nextFigure3:hover:after
{
    opacity: 1;
    right: 10px;
}

/* #nextFigure3 {
    position: absolute;
    height: 7%;
    width: 10%;
    left: 85%;
    top: 11%;
    box-shadow: 0px 0px 10px 0px silver;
    cursor: pointer;
    border: 2px solid #739f3f;
    background-color: 0px 0px 10px 0px silver;
    padding: 11px;
    border-radius: 9px;
    padding-left: 8px;
    padding-right: -1px;
    text-align: center;
    line-height: 0;
    font-weight: bolder;
    content: '>';
    /* display: none; */
/* #nextFigure3:hover {
    color: #001F3F;
    background-color: rgb(155, 241, 144);
}  */


#thermometer {
    position: absolute;
    top: 78%;
    left: 45%;
    width: 50%;
    width: 2%;
    height: 32%;
    transform: rotate(90deg);
    display: none;
}
#thermometerH
{
    position: absolute;
    top: 92%;
    left: 29%;
    /* display: none; */
}
.thermometerH
{
    position: absolute;
    top: 92%;
    left: 29%;
}
#thermometerHfig3
{
    position: absolute;
    top: 90%;
    left: 16%;
    height: 2%;
}
#termo125
{
    position: absolute;
    top: 9%;
    left: 84.4%;
    width: 50%;
    width: 1.5%;
    height: 32%;
    transform: rotate(4deg);
    display: none;
}

.water_wavesAni{
    position: absolute;
}
.newWavesAni{
    position: absolute;
    top: 202px;
    left: 198px;
    height: 78px;
    width: 87px;
    display: none;
}


/* .rotatefig3{
    position: absolute;
    left: 80%;
    TOP: 66%;
    /* display: none; */

.newrotateAni{
    position: absolute;
    top: 61.5%;
    left: 80%;
    display: none;
}
.rotateAni
{
    position: absolute;
    top: 50%;
    left: 50%;
}




.stirAni{
    position: absolute;
}
.newstirAni{
    position: absolute;
    top: 213px;
    left: 197px;
    height: 95px;
    width: 86px;
    display: none;
}
#icebeakerwithsol
{
    position: absolute;
    top: 50%;
    width: 12%;
    /* border: solid; */
    left: 5.5%;
    height: 24%;
}
#beakWat
{
    position: absolute;
    /* border: solid; */
    width: 11%;
    height: 22%;
    top: 65%;
    left: 33%;
}
#beakerDisWat
{
    position: absolute;
    left: 4%;
    top: 2%;
    width: 91%;
    height: 94%;
}
#beakerDisWat1
{
    position: absolute;
    left: 11%;
    top: 79%;
    height: 15%;
    width: 75%;
}
#hclliq
{
    position: absolute;
    left: 18%;
    width: 67%;
    height: 48%;
    top: 34%;
}
#clyhclly
{
    position: absolute;
    /* border: solid; */
    left: 17%;
    width: 73%;
    height: 66%;
    top: 20%;

}
#clyhclH
{
    position: absolute;
    /* border: solid; */
    left: 40%;
    width: 23%;
    height: 12%;
    top: 39%;
    display: none;
}
#butterpapsodiumnit
{
    position: absolute;
    /* border: solid; */
    top: 85%;
    left: 45%;
    height: 8%;
    width: 12%;
}
#butterpaperYellow
{
    position: absolute;
    top: 82%;
    left: 42%;
    height: 10%;
    width: 14%;
    display: none;
}
#butterpaperYelloly
{
    position: absolute;
    top: 40%;
    left: 40%;
    height: 10%;
    width: 14%;
    display: none;
}
#salt
{
    position: absolute;
    /* border: solid; */
    top: 28%;
    left: 26%;
    height: 47%;
    width: 41%;
}
#yellowsamp
{
    position: absolute;
    /* border: solid; */
    top: 27%;
    left: 23%;
    height: 52%;
    width: 50%;
}
#yellowsampinbeak
{
    position: absolute;
    /* border: solid; */
    top: 73.9%;
    left: 36%;
    display: none;
  
}
#paperlyyellow
{
    position: absolute;
    /* border: solid; */
    top: 70%;
    left: -2%;
    transform: rotate(353deg);
    height: 52%;
    width: 50%;
}
#butterpaper
{
    position: absolute;
    /* border: solid; */
    top: 28%;
    left: 6%;
    height: 72%;
    width: 87%;
}
#butterpaperfig3
{
    position: absolute;
    /* border: solid; */
    top: 28%;
    left: 6%;
    height: 72%;
    width: 87%;
}
#butterpaperlyyellow
{
    position: absolute;
    /* border: solid; */
    top: 28%;
    left: 6%;
}
#sodiumnitdrop
{
    position: absolute;
    /* border: solid; */
    top: 27%;
    left: 33%;
    height: 42%;
    width: 16%;
}
#powderpour
{
    position: absolute;
    left: 39%;
    height: 20%;
    width: 1.5%;
    top: 58%;
    display: none;
}
#yellowpowderpour
{
    position: absolute;
    left: 39%;
    height: 20%;
    width: 1.5%;
    top: 58%;
    display: none;
}
#butterpaperly
{
    position: absolute;
    /* display: none; */
}
#saltinbeak
{
    position: absolute;
    width: 4%;
    left: 36%;
    height: 3%;
    top: 83%;
    display: none;
}
#sodibeakdropice
{
    position: absolute;
    /* border: solid; */
    width: 12%;
    left: 16%;
    height: 38%;
    top: 18%;
}
#anilLeftV
{
    position: absolute;
    width: 57%;
    left: 41%;
    height: 78%;
    top: 15%;
    display: none;
}
#Anilinesolicebek
{
    position: absolute;
    width: 79%;
    left: 8%;
    height: 39%;
    top: 56%;
    display: none;
}
#Anilinesolfig2beak
{
    position: absolute;
    width: 72%;
    left: 12%;
    height: 6%;
    top: 88%;
    display: none;
}
#Yellowsolfig2beak
{
    position: absolute;
    width: 73%;
    left: 11%;
    height: 58%;
    top: 37%;
    display: none;
}
#sandundertop
{
    position: absolute;
    width: 12%;
    left: 82%;
    height: 18%;
    top: 67%;
    /* position: absolute;
    width: 12%;
    left: 84%;
    height: 18%;
    top: 68%; */
}
#sandundertopfig3
{
    position: absolute;
    width: 15%;
    left: 30%;
    height: 28%;
    top: 59%;
    display: none;
}
#sandundertopTube
{
    position: absolute;
    width: 15%;
    left: 52%;
    height: 29%;
    top: 61%;
}
#standunder
{
    position: absolute;
    width: 75%;
    left: 12%;
    height: 78%;
    top: 19%;   
}
#standtop
{
    position: absolute; 
    width: 52%;
    left: 25%;
    height: 3%;
    top: 46.5%; 
}
#standunderfig3
{
    position: absolute;
    width: 75%;
    left: 12%;
    height: 78%;
    top: 19%;   
}
#standundertube
{
    position: absolute;
    /* width: 75%; */
    left: 12%;
    /* height: 78%; */
    top: 19%;
}
#standtopfig3
{
    position: absolute;
    width: 75%;
    left: 12%;
    height: 48%;
    top: 48.5%;
}
#standtoptube
{
    position: absolute;
    /* width: 75%; */
    left: 12%;
    /* height: 48%; */
    top: 39.5%;
}
#glasstubeforstand
{
    /* position: absolute;
    width: 1%;
    left: 87.5%;
    height: 28%;
    top: 54.5%; */
    position: absolute;
    width: 6%;
    left: 47.5%;
    height: 135%;
    top: -47.5%;
}
#glasstubeforstandBen
{

    position: absolute;
    width: 6%;
    left: 47.5%;
    height: 135%;
    top: -47.5%;
    display: none;
}
#glasstubedrop
{
    position: absolute;
    width: 13%;
    left: 15%;
    height: 27%;
    top: 28%;
    /* border: solid; */
}
#bdcsol
{
    position: absolute;
    width: 79%;
    left: 7%;
    height: 41%;
    top: 53%;
    display: none;
}
#bdcsolbeak
{
    position: absolute;
    width: 76%;
    left: 9%;
    height: 58%;
    top: 37%;
    display: none;
}
#droperfig2
{
    position: absolute;
    width: 18%;
    left: 31%;
    height: 50%;
    top: 17%;
    /* border: solid; */    
    display: none;
}
#reset
{
    position: absolute;
    top: 138%;
    left: 20%;
}
#resetfig2
{
    position: absolute;
    top: 230%;
    left: 20%;
    display: none;
}
#resetfig3
{
    position: absolute;
    top: 190%;
    left: 20%; 
    display: none;
}
#lable
{
    position: absolute;
    width: 88%;
    left: 5%;
    height: 23%;
    top: 59%;
}
#lableFig2
{
    position: absolute;
    width: 88%;
    left: 5%;
    height: 23%;
    top: 59%;
}
#funnelDrop
{
    position: absolute;
    width: 20%;
    left: 13%;
    height: 54%;
    top: 3%;
}
#capbeakerDrop
{
    position: absolute;
    width: 20%;
    left: 34%;
    height: 54%;
    top: 3%;
    /* border: solid; */
}
#beakerDrop
{
    position: absolute;
    width: 20%;
    left: 31%;
    height: 42%;
    top: 14%;
}
#instructionList
{
    position: left;
} 
#instrDiv
{
    position: absolute; 
    top: 0%; 
}
.varTitle
{
    font-size: 108%;
    width: 90%;
    line-height: 125%;
    color: black;
}


#instructionListfig2
{
    position: left;

} 
#instrDivfig2
{
    position: absolute; 
    top: 0%; 
    display: none;
}
.varTitlefig2
{
    font-size: 108%;
    width: 97%;
    line-height: 155%;
    color: black;
    
}
#instructionListfig3
{
    position: left;

} 
#instrDivfig3
{
    position: absolute; 
    top: 0%; 
    display: none;
}
.varTitlefig3
{
    font-size: 108%;
    width: 97%;
    line-height: 160%;
    color: black;
    
}
#tubewithyello
{
    position: absolute; 
    left: 39%;
    top: 40%;
    display: none; 
}
#tubeyellowsamp
{
    position: absolute; 
    left: 58.7%;
    top: 61%;
    display: none;  
}
#meltingPointApr
{
    position: absolute; 
    left: 25px;
    /* top: 27%; */
}
#meltingPointAprTop
{
    position: absolute;
    left: 74px;
    height: 29%;
}
#meltingPointAppartus
{
    position: absolute;
    width: 27%;
    left: 70%;
    height: 65%;
    top: 23%;
}
#switchOff
{
    position: absolute;
    left: 36px;
    height: 7%;
    width: 6%;
    top: 83%;
    /* display: none; */
}
#switchOn
{
    position: absolute;
    left: 36px;
    height: 7%;
    width: 6%;
    top: 83%;
    display: none;
}
#rapidSwitchOff
{
    position: absolute;
    left: 89px;
    height: 8%;
    width: 8%;
    top: 83%;
    /* display: none;  */
}
#rapidSwitchOn
{
    position: absolute;
    left: 89px;
    height: 8%;
    width: 8%;
    top: 83%;
    display: none;
}
#lightOff
{
    position: absolute;
    left: 61px;
    top: 86.1%;
    height: 4%;
    /* display: none;  */
}
#lightOn
{
    position: absolute;
    left: 61px;
    top: 86.1%;
    height: 4%;
    display: none; 
}
#Rotate
{
    position: absolute;
    left: 55px;
    top: 59.1%;
    /* display: none;  */
}
#Rotate5
{
    position: absolute;
    left: 55px;
    top: 59.1%;
    display: none; 
}
#glassLight
{
    position: absolute;
    left: 65px;
    top: 31.1%;
    display: none; 
}
#meltingPointAprDiv
{
    position: absolute;
    left: 74%;
    height: 36%;
    width: 20%;
    top: 5%;
}
#zoom
{
    position: absolute;
    left: 63%;
    top: 3%;
    display: none; 
}
#dragHclDrop
{
    position: absolute;
    left: 71%;
    height: 2%;
    width: 1%;
    top: 45%;
    /* display: none;  */
}
#dragClyDrop
{
    position: absolute;
    left: 58%;
    height: 2%;
    width: 1%;
    top: 45%;
    /* border: solid; */
    /* display: none;  */
}
#dragAniDrop
{
    position: absolute;
    left: 83%;
    height: 2%;
    width: 1%;
    top: 43%;
    /* border: solid; */
}
#dragAniClyDrop
{
    position: absolute;
    left: 58%;
    height: 2%;
    width: 1%;
    top: 45%;
}
#dragRodDrop
{
    position: absolute;
    left: 44%;
    height: 2%;
    width: 1%;
    top: 55%;
    /* border: solid; */
}
#dragBeakDrop
{
    position: absolute;
    left: 41%;
    height: 2%;
    width: 1%;
    top: 50%;
}
#dragTermoDrop
{
    position: absolute;
    left: 42%;
    height: 2%;
    width: 1%;
    top: 90%;
    /* border: solid; */
}
#inference
{
    position: absolute;
    left: 5%;
    top: 5%;
    display: none;  
}
#inferencefig2
{
    position: absolute;
    left: 5%;
    top: 5%;
    display: none; 
}
#inferencefig3
{
    position: absolute;
    left: 5%;
    top: 5%;
    display: none; 
}
#info
{
    position: absolute;
    left: 13%;
    height: 2%;
    width: 1%;
    top: 9%;
    /* border: solid;  */
}
#inforFig2
{
    position: absolute;
    left: 13%;
    height: 2%;
    width: 1%;
    top: 9%;
    /* border: solid;  */
}
#clickNext
{
    position: absolute;
    left: 81%;
    height: 2%;
    width: 1%;
    top: 14%;
}
#clickNext2
{
    position: absolute;
    left: 81%;
    height: 2%;
    width: 1%;
    top: 14%;
}
#dropSodiPap
{
    position: absolute;
    left: 50%;
    height: 2%;
    width: 1%;
    top: 92%;
}
#rodDrop
{
    position: absolute;
    left: 32%;
    height: 2%;
    width: 1%;
    top: 55%;
}
#bekDrop
{
    position: absolute;
    left: 37%;
    height: 2%;
    width: 1%;
    top: 55%;
}
#Note
{
    position: absolute;
    left: 8%;
    height: 10%;
    width: 42%;
    top: 11%;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    display: none;
}
.showNote1
{
    position: absolute;
    /* height: 10%;
    width: 36%; */
    font-size: larger;
    font-weight: bold;
    border-radius: 5%;
    text-align: center;
    margin-top: 10px;
    /* display: none; */
}
#Note2
{
    position: absolute;
    left: 8%;
    height: 14%;
    width: 45%;
    top: 15%;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    display: none;
}
.showNote2
{
    position: absolute;
    /* height: 10%;
    width: 36%; */
    font-size: larger;
    font-weight: bold;
    border-radius: 5%;
    text-align: center;
    margin-top: 1px;
    line-height: 128%;
    /* display: none; */
}
#Note3
{
    position: absolute;
    left: 14%;
    height: 12%;
    width: 46%;
    top: 13%;
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
    display: none;
}
.showNote3
{
    position: absolute;
    /* height: 10%;
    width: 36%; */
    font-size: larger;
    font-weight: bold;
    border-radius: 5%;
    text-align: center;
    margin-top: 2px;
    line-height: 128%;
    /* display: none; */
}
#solBekDrop
{
    position: absolute;
    left: 12%;
    height: 2%;
    width: 1%;
    top: 53%;
}
#solBekDropIce
{
    position: absolute;
    left: 84%;
    height: 2%;
    width: 1%;
    top: 58%;
}
#aniDropBeak
{
    position: absolute;
    left: 67%;
    height: 2%;
    width: 1%;
    top: 57%;
}
#aniClyDropBeak
{
    position: absolute;
    left: 59%;
    height: 2%;
    width: 1%;
    top: 58%;
}
#hclDropBeak
{
    position: absolute;
    left: 77%;
    height: 2%;
    width: 1%;
    top: 50%;
}
#hclClyDropBeak
{
    position: absolute;
    left: 59%;
    height: 2%;
    width: 1%;
    top: 58%;
}
#benDropBeak
{
    position: absolute;
    left: 22%;
    height: 2%;
    width: 1%;
    top: 47%;
}
#glasRodBek
{
    position: absolute;
    left: 85%;
    height: 2%;
    width: 1%;
    top: 54%;
}
#benIceBath
{
    position: absolute;
    left: 38%;
    height: 2%;
    width: 1%;
    top: 54%;
}
#foldPaper
{
    position: absolute;
    left: 50%;
    height: 2%;
    width: 1%;
    top: 92%; 
}
#beakDropSamp
{
    position: absolute;
    left: 45%;
    height: 2%;
    width: 1%;
    top: 43%;
    /* border: solid; */
}
#drySamOnBeak
{
    position: absolute;
    left: 48%;
    height: 2%;
    width: 1%;
    top: 92%;
}
#cclDrop
{
    position: absolute;
    left: 9%;
    height: 2%;
    width: 1%;
    top: 37%;
}
#oneSideTube
{
    position: absolute;
    left: 56%;
    height: 2%;
    width: 1%;
    top: 55%;
}
#onSwitch
{
    position: absolute;
    left: 76%;
    height: 2%;
    width: 1%;
    top: 83%;
}
#rapOnSwitch
{
    position: absolute;
    left: 86%;
    height: 2%;
    width: 1%;
    top: 81%;
    /* border: solid; */
}
#tubeDrop
{
    position: absolute;
    left: 56%;
    height: 2%;
    width: 1%;
    top: 57%;
}
#termoDropMel
{
    position: absolute;
    left: 30%;
    height: 2%;
    width: 1%;
    top: 90%;
}
#rotateHeat
{
    position: absolute;
    left: 80%;
    height: 2%;
    width: 1%;
    top: 62%;
    border: solid;
}
#yelllowLight
{
    position: absolute;
    left: 77%;
    height: 2%;
    width: 1%;
    top: 46%;
}
#inforFig3
{
    position: absolute;
    left: 13%;
    height: 2%;
    width: 1%;
    top: 9%;
}
#halfAnilineCcl
{
    position: absolute;
    position: absolute;
    top: 74%;
    left: 12%;
    display: none;
}