#specWrap {
	height: 470px;
	width: 550px;
	position: relative;
}
#myCanvas1 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
	background-size: cover;
    background-position-y: 60%;
}

.divTop{
	position: absolute;
    left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: bold;
    height: 4%;
    width: 20%;
	
}
	

#tooltip {
    height: 16%;
    width: 29%;
    position: absolute;
    left: 47%;
    top: 1%;
}
#tooltipText {
	height: 8%;
    width: 28%;
    position: absolute;
    left: 48%;
    top: 2%;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 100%;
    font-weight: bold;
    z-index: 99999;
	
}

#scale1{
	width: 12%;
    height: 95%;
}

#faceA{
	position: absolute;
	top:28.8px;
	left:1.5px;
	
}

#faceB{
	position: absolute;
	top:0px;
	left:2px;
	
}
#faceC{
	position: absolute;
	top:0px;
	left:128px;
	
}

#cubeface {
    position: absolute;
    top: 16%;
    left: 32%;
    width: 30%;
	/*top:20%;
	left:30%;*/
}
#Tooltip1{
	width:100%;
	height:115%;
}
#wrapper.toggled{
	padding-bottom: 10%;
}
#page-content-wrapper {
	padding-bottom: 55%;
}
.varTitle {
    padding: 3px 0px 0px 10px;
	}
.form-control{
	width:75%;
	margin:auto;
}

@media (min-width: 768px)
{
	#wrapper.toggled #sidebar-wrapper {
	    padding-bottom: 58%;
	}
}
@media (max-width: 767px)
{
	#wrapper.toggled, #wrapper {
		padding-bottom: 70%;
	}
	#wrapper.toggled #page-content-wrapper, #page-content-wrapper{
		padding-bottom: 55%;
	}
}