@charset "utf-8";
/* CSS Document */

.start
{
	position:absolute; 
	left:113px; 
	top:66px; 
	height:12px; 
	width:61px; 
	font-size:10px; 
	cursor:pointer; 
	text-align:center;	
}

#hand_long
{
	position:absolute; 
	right:300px; 
	top: 176px; 
	display:none;
}
.mainTitle p {
    font-size: 185% !important;
}
#hand_trans
{
	position:absolute; 
	right:300px; 
	top: 173px;
}
#timer
{
	position:absolute; 
	border:0px; 
	font-size:20px; 
	width:84px; 
	height:21px; 
	top:41px; 
	left:119px;
}
#timerstyle
{
	font-size:14px; 
	font-weight:bold; 
	position:absolute; 
	left: 120px; 
	top: 27px;
}

#stopwatch
{
	position:absolute; 
	left: 104px; 
	top: 14px;
}

#mycanvas
{
	margin-top:124px;
	border:0px solid;
	position:absolute;
}
#canvasBox {
	
}

#transwave
{
	position:absolute; 
	left: 270px; 
	top: 161px; 
	width:53px; 
	height:37px;  
	z-index: 10; 
	display:none;	
}

.waveStyle
{
	border:#FFF solid 1px; 
	width:15px; 
	height:15px; 
	border-radius:15px;
	position:absolute;	
}

#transrevwave
{
	position:absolute; 
	right: 75px; 
	top: 179px; 
	width:57px; 
	height:39px; 
	z-index: 10; 
	display:none;	
}

#transbg
{
	width:49px; 
	height:18px;  
	left:0px; 
	top:19px; 
	position:absolute; 	
}
#transrevbg
{
	width:49px; 
	height:18px;  
	left:4px; 
	top:1px; 
	position:absolute; 
	border-radius:25px;	
}
.longStyle
{
	position:absolute; 
	left: 264px; 
	top: 181px; 
	width:28px; 
	height:19px; 
	z-index: 10; 
	border-radius:15px; 
	display:none; 	
}

.longrevStyle
{
	position:absolute; 
	right: 88px; 
	top: 181px; 
	width:28px; 
	height:19px; 
	z-index: 10; 
	border-radius:15px; 
	display:none; 
}