@charset "utf-8";
/* CSS Document */
@font-face {
  font-family:MRKGPEN;
  src: url(MRKGPEN.TTF);
}
#resetBtn{
  margin-left: 39px;
  margin-top: 40px;
}
#firstSliderValue{
  margin-top: -16px;
  margin-left:120px;
}
#secondSliderValue{
  margin-top: -16px;
  margin-left:120px;
}
#firstSliderUnit{
  margin-top: -44px;
  margin-left: 77px;
}
#secondSliderUnit{
  margin-top: -44px;
  margin-left: 85px;  
}
#firstSliderValue_Min{
  margin-top: 0px;
}
#firstSliderValue_Max{
  margin-top: -17px;
  margin-left: 150px;
}
#lightOnBtn{
margin-left: 44px;
margin-top: 14px;
margin-bottom: 16px;
}

#mainCanvas{
  position: absolute;
  width: 560px;
  height: 335px;
  left: 0px;
  top: 0px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#lightBox{
    position: absolute;
    top: 153px;
    left: 175px;
}
#smallScale{
    position: absolute;
    left: 19px;
    top: 312px;
}
#concaveMirror{
  position: absolute;
  left: 434px;
  /*cursor: pointer;*/
}
#whiteBoard{
    position: absolute;
    left: -6px;
    /* cursor: pointer; */
    width: 120px;
    height: 142px;
}
#lightPass{
    position: absolute;
    left: -10px;
    top: 0px;
    display: none;
    z-index: 1;
    height: 25px;
    width: 275px;
}
#zoomDiv_main{
  position: absolute;
  left: 340px;
  top: 9px;
  width: 211px;
  height: 108px;
  border: 1px solid #fff;
  overflow: hidden;

}
#zoomTopColor{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 211px;
  height: 40px;
  background-color:#80571f;
}
#zoomBtmColor{
  position: absolute;
  top: 40px;
  left: 0px;
  width: 211px;
  height: 68px;
  background-color: #dfdfdf;
}
#arrowZoom{
  position: absolute;
  top: 0px;
  left: 91px;
}
#zoomScale{
  position: absolute;
  top: 40px;
  left: -13400px;
}
#whiteBoard_Dragarea{
position: absolute;
  left: -8px;
    top: 167px;
    /* border: 1px solid red; */
    width: 521px;
    height: 158px;
    /* overflow: hidden; */
    z-index: 3;
}
#concavemirror_Dragarea{
  position: absolute;
  left: 20px;
  top: 189px;
  /*border: 1px solid red;*/
  width: 464px;
  height: 103px;
  /*overflow: hidden;*/
  z-index:4;
}
#resultBox{
  width: 117px;
  margin-left: 25px;
  margin-top: -1px;
  line-height: 1.4;
  display: none;
}
#crossImg{
    position: absolute;
    left: 20px;
    top: 21px;
    width: 14px;
    opacity: 1;
    height: 34px;
}
#popup{
  position: absolute;
  top: -58px;
  left: 4px;
  display: none;
  z-index: 2;

}
#pop_msg{
  position: absolute;
  left: 3px;
  top: 20px;
  width: 89px;
  text-align: center;
  font-size: 1.3em;
  font-family: MRKGPEN;

}
#result_2{
  font-weight: bold;
  margin-top: -21px;
  margin-left: 35px;
}
#result_3{
  font-weight: bold;
  margin-top: -21px;
  margin-left: 61px;
}
#result_4{

    margin-top: -21px;
    margin-left: 80px;
    font-weight: bold;
}
#lightReflected{
    position: absolute;
    width: 451px;
    height: 29px;
    display: none;
    z-index: 3;
    left: 0px;
}
#lightReflected_Div{
    position: absolute;
    left: 91px;
    top: 192px;
    width: 446px;
    height: 53px;
 /*border: 1px solid red;*/
    overflow: hidden;
    z-index: 3;
}
#crossImg_container{
    position: absolute;
    width: 45px;
    height: 45px;
    /* border: 1px solid red; */
    left: 69px;
    top: 12px;
}
#dottedblueArrow{
position: absolute;
    left: 183px;
    top: 253px;
}
#lightPassDiv{
    position: absolute;
    left: 277px;
    top: 194px;
    /* border: 1px solid red; */
    width: 300px;
    height: 38px;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
#first_section_svg{
position: absolute;
    top: 0px;
    left: 0px;
    width: 560px;
    display: none;
    height: 336px;
    /* border: 1px solid red; */
}
#polygon_container{
    position: absolute;
    top:-7px;
    left: 233px;
    z-index: 3;
   
    width: 449px;
    height:250px;
    overflow: hidden;
}
#second_section_svg{
    position: absolute;
    /* top: 0px; */
        left: -3px;
    /* z-index: 1; */
    /*border: 1px solid green; */
    width: 449px;
    height: 250px;
     display: none;
}
