#galssImges {
    position: relative;
    width: 197px;
    height: 40px;
    top: 20px;
}

#glassImg{
	width: 173px;
	height: 40px;
	position: relative;
	margin: 20px 10px 10px 10px;
	padding-left: 30px;
}

#galssImg1{
   	cursor: pointer;
    left: 45px;
    position: relative;
    width: 116px;
}

#galssImg2{
    cursor: pointer;
    left: 51px;
    position: relative;
    top: 16px;
    width: 97px;
}

#galssImg2 > img{
	width: 88px;
}

#labelg1{
	padding: 0px 0px 0px 0px;
	position: relative;
	top: 5px;
}

#labelg2{
	position: relative;
	top: 5px;
}

#slider{
	width: 173px;
	height: 40px;
	top: 50px;
	position: relative;
}

#result{
	position: relative;
	top: 75px;
	text-decoration:underline;
	font-weight: bold;
}

#thicknessCalc{
	margin: 78px 0px 0px 0px;
}

#Ranges{
    left: 18px;
    position: relative;
}

#textBx{
	width: 44px;
	margin: 5px 0px 0px 74px;
}

#checkExp{
  margin: 7px 0px 0px 38px;
}

#restExprsn{

    left: -33px;
    position: relative;
    top: 87px;
}
#resultSpan2 {
	margin-left:10px;	
}

#resetExp{
	margin: 9px 0px 0px 38px;
}

.controlHolder ul li .varBox{
	height:330px;
}

#wrapper{
	height: 337px;
	width:563px;
	position:relative;
}

#toolTipDiv {
	display: none;
	background: #F2B469;
	width: 440px;
	height: 39px;
	padding: 10px;
	position: absolute;
	left: 50px;
	z-index: 10;
	border-radius: 10px;
	color: #4F4337;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 15px;
}

#toolTipDiv::before {
	content: " ";
	height: 1px;
	border-style: solid;
	border-color: transparent #F2B469 transparent transparent;
	border-width: 21px;
	position: absolute;
	left: -35px;
	top: 2px;
}

#toolPrompt{
	float: left;
}

a:hover + div#toolTipDiv{
	display:block;
}

#container {
    position: relative;
    height: 100%;
    display: table;
    float: left;
    left: 45px;
}

#contTop {
	position: relative;
	top: 55px;
	z-index: 1;
}

#measureDevice {
	position: relative;
    text-align: center;
}

#rotaionAnime
{
	width: 176px;
	position: absolute;
	height: 29px;
	left: -4px;
	top: 81px;
}

#deviceScrew {
	position: relative;
	top: 30px;
	left: 2px;
}

#deviceScrew > img {
	width: 69px;
}

#deviceThread{
	text-align:center;
}

#screw_base {
	width: 170px;
	margin-bottom: -3px;
	background-position-y:0px;
}

#screw_stem {
	width: 34px;
	height: 125px;
	margin: 0 auto;
	background: url(../images/sphero_up_down_stem.png);
	background-position:0px 0px;
}

#deviceMain > img {
	width: 230px;
}

#topArrow1img{
	position: absolute;
	width: 14px;
	left: 4px;
	top: 9px;
	cursor: pointer;
	height: 20px;
}

#topArrow2img{
	position: absolute;
	width: 14px;
	left: -2px;
	top: 1px;
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	cursor: pointer;
	height: 20px;
}

#topArrow1{
	z-index: 100;
	position: absolute;
	width: 18px;
	left: 120px;
	top: 9px;
	cursor: pointer;
	height: 30px;
}

#topArrow2{
	z-index: 100;
	position: absolute;
	width: 19px;
	left: 30px;
	top: 17px;
	cursor: pointer;
	height: 33px;
}

#deviceMain {
	position: relative;
	right: 11px;
}

#movablePart {
	position: absolute;
	right: 104px;
	top: -84px;
}

#glassPlate {
	position: relative;
	bottom: 32px;
}

#smallGlass{
	position: absolute;
	top: 10px;
	left: 47px;
	width: 248px;
	height: 90px;
	visibility:hidden;
}
#smallGlass2{
	height: 49px;
	left: 109px;
	position: absolute;
	top: 35px;
	width: 112px;
	visibility:hidden;
}

#shadow{
	height: 22px;
	left: 63px;
	position: relative;
	top: -8px;
	width: 50px;
	visibility: hidden;
	z-index: 1;
}
#shadow2{
	height: 22px;
	left: 146px;
	position: absolute;
	top: 51px;
	width: 50px;
	visibility:hidden;
	z-index: 1;
}

#rightPart {
	float: right;
	position: relative;
	display: table;
}

.helpLabel{
	position: absolute;
	left: -288px;
	top: 8px;
	font-size: 12px;
	font-weight: bold;

}

#zoomBox {
	height: 157px;
	width: 120px;
	background: url(../images/zoomd_area.png);
	position: absolute;
	right: 0px;
	top: 60px;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 15px;
	margin-right: -10px;
	overflow: hidden;
	background-color: #FFF;
	opacity: 0.99;
}

#zoomCont {
	width: 350px;
	height: 350px;
	position: relative;
	bottom: 90px;
	left: -10px;
}

#zoomCont img:nth-child(1) {
	height: 100%;
	width: 100%;
}

#rotatonImg{
	position: absolute;
	left: 10px;
	top: 5px;
	width: 95%;
	height: 94%;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

#zoomCont img:nth-child(3){
	position: relative;
	top: -188px;
}

#showAns{
	position: relative;
}

#answer{
	margin: 9px 0px 0px 7px;
}

#answerLabel{
	padding: 8px 0px 0px 3px;
}

#resultLabel{
	padding: 4px 0px 0px 2px;
}