.varBox,#bgCanvas1,#scene1,#scene2
{-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
img,.sim-buttons .sim-btn,#changeScreenBtn,#simHelp{
  -webkit-user-drag: none;
  -khtml-user-drag:none;
-moz-user-drag:none;
-ms-user-drag:none;

}

#mainDiv div{
  position: absolute;

}

#mainDiv img{
  position: absolute;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag:none;
-moz-user-drag:none;
-ms-user-drag:none;
}
.userSelect,#mainDiv,.sim-footer div,.sim-body { 
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
 }
#bg{
  height: 100%;
  width: 100%;
}
.flexbox {
  display: flex;
}
#actTypes{
  height: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  background-color: lavenderblush;
  text-align: left;
  margin-top: 3%;
  border: solid;
  cursor: pointer;
  box-shadow: 0 0 cadetblue;

}
#intro{
  width: 100%;
height: 100%;
}
#noteDiv{
  left: 1%;
  top: 2%;
  border: solid;
  background-color: antiquewhite;
  border-radius: 10%;
  border: white;
  box-shadow: 0px 0px 8px 7px rgb(0 0 0);
  width: 98%;
  height: 95%;
}
#bernoIntro{
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif !important;
  font-size: 1vw;
  font-weight: bold;
  text-align: justify !important;
}
h2{
  text-align: center;
}
#eqn{
  font-size: 2.2vw;
  text-align: center;
  font-family: auto;
  font-style: italic;
  font-weight: bold;
}
#next {
  position: absolute;
  top: 7%;
  display: none;
  width: 11%;
  height: 10%;
  font-size: 1.5vw;
  left: 82%;
  background-color: #DBDBDB;
  border-radius: 9%;
  cursor: pointer;

}
#next1 {
  position: absolute;
  top: 2%;
  display: none;
  width: 11%;
  height: 10%;
  font-size: 1.5vw;
  left: 85%;
  background-color: #DBDBDB;
  border-radius: 9%;
  cursor: pointer;
  z-index: 100;

}
#arrow{
  height: 7%;
  width: 10%;
  top: 59%;
  left: 38%;
  transform: rotate(180deg);
}
#arrow1{
  height: 7%;
  width: 10%;
  top: 59%;
  left: 33%;
  display: none;
  transform: rotate(180deg);
}
#next1:hover{
  box-shadow:   0px 0px 5px 5px grey;

}
#next:hover{
  box-shadow:   0px 0px 5px 5px grey;

}
#actOne{
  height: 100%;
  width: 100%;
  display: none;
}
#actTwo{
  height: 100%;
  width: 100%;
  display: none;
}
#actThree{
  height: 100%;
  width: 100%;
  display: none;
}
#actFour{
  height: 100%;
  width: 100%;
  display: none;
}
#actFive{
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
}
#stand{
  left: 51%;
  top: 9%;
  height: 79%;
  width: 39%;
}
#standBase{
  left: 21%;
  top: 86%;
  height: 20%;
  width: 44%;
}
#standPoll{
  left: 34%;
  top: 15%;
  height: 78%;
  width: 5%;
}
#standHook1{
  left: 40%;
  top: 30%;
  height: 5.9%;
  width: 6%;
  z-index: 2;

}
#standTop{
  left: 29%;
  top: 18%;
  height: 30%;
  width: 33%;

}
#standTopWhole{
  left: 29%;
  top: 18%;
  height: 37%;
  width: 41%;
}
#standHook2{
  left: 47%;
  top: 37%;
  height: 4.9%;
  width: 6%;
  z-index: 2;
}
#student{
  left: 19%;
  top: 40%;
  height: 60%;
  width: 29%;
}
#student1{
  left: 8%;
  top: 40%;
  height: 60%;
  width: 29%;
}
#student2{
  left: 21%;
  top: 31%;
  height: 69%;
  width: 56%;
}
#pendulum1{
  left: 39%;
    top: 32%;
    height: 58%;
    width: 9%;
}
#pendulum2{
  left: 45%;
  top: 41%;
  height: 56%;
  width: 9%;
}
#mouth{
  height: 3%;
    width: 2%;
    left: 42%;
    top: 62%;
    border-radius: 50%;
    cursor: pointer;
}
#mouth1{
  height: 3%;
    width: 2%;
    left: 31%;
    top: 61%;
    border-radius: 50%;
    cursor: pointer;

}
#mouth2{
  height: 3%;
  width: 2%;
  left: 52%;
  top: 55%;
  border-radius: 50%;
  cursor: pointer;
}
#mouth:hover{
  background-color: tomato;

}
#mouth1:hover{
  background-color: tomato;

}
#mouth2:hover{
  background-color: tomato;

}
.box{
  position: absolute;
  display: none;
  height: 10%;
  top: 10%;
  width: 10%;
  left: 10%;
}
.questionLayout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d102eed;

  top: 0%;
  z-index: 1000;

}
.questionNumber
{
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: #c0c1c900;
  top: 2%;
  border-bottom: solid #ffffff75;
}
.questionNumberTestDesign
{
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1rem;
  top: 20%;
  left: 3%;
  font-family: 'Inconsolata';
}
.questionNumberScoreDesign
{
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1rem;
  top: 20%;
  left: 82%;
  font-family: 'Inconsolata';
}
.questionText
{
  position: absolute;
  color: #cac9cbb3;
  top: 18%;
  left: 3%;
  width: 94%;
  height: 21%;
}
.questionTextAlignment
{
  position: absolute;
  width: 94%;
  height: 75%;
  top: 11%;
  left: 2%;
  font-size: .9rem;
  color: #fcf8f8;
  text-align: justify;
  line-height: 1.3;
  cursor: not-allowed;
}
.OptionOne
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 34%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}
.OptionTwo
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 48%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}
.OptionThree
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 62%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}
.OptionFour
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 76%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}
.optionTestDesign {
  position: absolute;
  color: #ffffff;
  font-size: .8rem;
  top: 20%;
  left: 5%;
}
.optionNo
{
  padding-right: 7px;
}
#inferenceImg{
  height: 10%;
  width: 6%;
  left: 5%;
  top: 12%;
  cursor: pointer;
  z-index: 100;
  display: none;
}

#book{
  height: 30%;
  width: 38%;
  left: 50%;
  top: 67%;
}

#paperOnly{
  height: 18%;
  width: 19%;
  left: 32%;
  top: 34%;
  transform: rotateX(45deg);

}
#sprayFull{
  height: 97%;
  width: 95%;
  top: 0%;
  left: 3%;
}
#sprayBody{
  height: 42%;
  width: 46%;
  left: 30%;
  top: 47%;
}
#piston{
  height: 12%;
  width: 34%;
  left: 25%;
  top: 47%;
  cursor: pointer;
}
#burner{
  height: 60%;
    width: 28%;
    left: 39%;
    top: 41%;
}
#burnerWire{
  height: 28%;
    width: 41%;
    left: 60%;
    overflow: hidden;
    z-index: 1;
    top: 77%;
}
#burnerKnob{
  height: 2%;
  width: 5%;
  left: 59.4%;
  top: 78%;
  z-index: 1;
  cursor: pointer;

}
#burnerBody{
  height: 28%;
    width: 5%;
    left: 50.8%;
    top: 51%;
}
#holeOpen{
  height: 8%;
  width: 4.7%;
  left: 51%;
  top: 70%;
    display: none;


}
#holeClose{
  height: 8%;
  width: 4.7%;
  left: 51%;
  top: 70%;

}

.flameOraAnimation{
  height: 38%;
  left: 49%;
  top: 10.3%;
  width: 8%;
  display: none;
}
.flameBluAnimation{
  height: 38%;
  left: 49%;
  top: 10.3%;
  width: 8%;
  display: none;
}

.pumpAnimation{
  height: 44%;
  left: 1%;
  top: 32%;
  width: 86%;
  display: none;
}
.boyAnimation{
  left: 8%;
  top: 40%;
  height: 60%;
  width: 29%;
  display: none;

}

.arroAnimation{
  left: 41%;
  top: 74%;
  height: 5%;
  width: 42%;
  transform: rotate(23deg);
display: none;
}
.arro1Animation{
  left: 34%;
  top: 73%;
  height: 5%;
  width: 34%;
  transform: rotate(23deg);
  display: none;
  z-index: 1;
}
.pendAnimation{
 
  left: 66%;
  top: 34%;
  height: 52%;
  width: 6%;
  display: none;

}
.boy1Animation{
  left: 19%;
  top: 40%;
  height: 60%;
  width: 29%;
  display: none;

}
.bookPaperAnimation{
  height: 30%;
  width: 38%;
  left: 50%;
  top: 67%;
  display: none;

}
.bookPaperZoomAnimation{
  height: 56%;
  width: 55%;
  left: 52%;
  top: 11%;
  display: none;

}
.paperAnimation{
  height: 68%;
  width: 57%;
  left: 21%;
  top: 31%;
  display: none;

}

.px-20 {
  padding-left: 4px;
  padding-right: 4px;
}
li{
  font-size: 1.2vw;
}