#myCanvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 0;
}

.item{
	position: absolute;
    width: 14%;
    height: 18%;
    background-color: #B5B5AF;
    top: 82%;
	}
.item img{
	width:100%;
}
.item:hover
{
	background-color:#999;
}
.units2 {
	padding: 5px 10px 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #626262;
	/*padding-top: 5px;*/
	text-align:left !important;
}
.toolPos{
	position:relative;
	}

#wrapper.toggled #sidebar-wrapper{
	padding-bottom: 61% !important; 
}
#page-content-wrapper{
	padding-bottom: 58% !important;
}
@media (max-width:768px){
	div #wrapper.toggled #sidebar-wrapper{
		padding-bottom: 59% !important; 
	}
	#wrapper.toggled #page-content-wrapper, #page-content-wrapper{
		padding-bottom: 58% !important;
	}
	#sidebar-wrapper{
		padding-bottom: 60%!important;
	}
	#wrapper {
		padding-bottom: 85% !important;
	}

}
#zoomimage img{
	width: 100%;
    height: 100%;
}
#Mainimage img{
	width:80%;
}
#springimage img{
	width: 85%;
}
#arrowimage img{
	width: 75%;
	position: absolute;
	top: 33%;
    left: 12%;
}
#arrowimage1 img{
	width: 85%;
	position: absolute;
}
#copperTagImg{
	width: 100%;
}
#woodTagImg{
	width:100%;
}
#lockImg{
	width:100%;
	position: absolute;
    top: -10%;
}
#stoneTagImg{
	width:100%;
}
#steelBallImg{
	width:100%;
    position: absolute;
    top: -5%;
    left: -3%;
}
#Mainimage2 img{
	width: 85%;
    height: 100%;
}
#water img{
	width: 98%;
	height: 120%;
}
#zoomimage50 img,#zoomimage65 img,#zoomimage70 img,#zoomimage75 img,#zoomimage100 img{
	width: 100%;
    height: 100%;
}
.form-control{
	width:75%;
	margin: auto;
}
.varTitle {
    padding: 3px 0px 0px 18px;
	margin-bottom: 5px;
	
}
.controlHolder h1 {
	margin-top: -5px;
    margin-bottom: -5px;
}
.wideTxtArea {
    margin: 3px 0px 0px 20px;
    color: #777777;
    font-size: 11px;
    width: 80%;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    /* border-radius: 4px 4px 4px 4px; */
    font-size: 12px;
    resize: none;
    padding: 0px;
}
.dropBox {
    margin: 0px 0px 0px 23px;
    color: #777777;
    width: 80%;
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #777777;
    /* border-radius: 4px 4px 4px 4px; */
    font-size: inherit; 
    padding: 0px; 
    resize: none;
}
.subButton {
    width: 80%;
	}

@media (min-width:767px){
	#sidebar-wrapper{
		overflow:hidden !important;
	}
}