/*author:anishasl
Date:05/03/2014
file name:simstyle.css*/
#canvasBox { overflow:hidden; }
#myCanvas {
	position: absolute;
	left: 0px;
	top: 10px;
}
#mainDiv {
	position:absolute;
	height:343px;
	width:560px;
	background:#FFF;
	opacity:0.99;
 background-color:
 -webkit-user-select: none;
}
#OPoint {
	position:absolute;
	left:100px;
	top:100px;
	display:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#BPoint {
	position:absolute;
	left:100px;
	top:100px;
	display:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#APoint {
	position:absolute;
	left:100px;
	top:100px;
	display:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#DPoint {
	position:absolute;
	left:100px;
	top:100px;
	display:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.ws-range-thumb { left:0px; !important
}
.rangeSlider {
	margin: 3px 0px 0px 13px;
	cursor:pointer;
}
!important .varTitle {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 font-weight: 500;
 color: #626262;
 text-align: left !important;
}
.varTitleResult {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #626262;
	text-decoration:underline;
	text-align: left !important;
}
#steelIcon {
	margin:7px 57px 45px 59px;
	cursor:pointer;
}
#SteelLabel {
	margin:-42px 16px 44px 74px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #626262;
}
#stoneIcon {
	margin: -37px -54px 5px 101px;
	cursor:pointer;
}
#StoneLabel {
	margin:-3px 0px 0px 119px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #626262;
}
#WoodLabel {
	margin: 0px 0px -20px 32px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #626262;
}
#woodIcon {
	margin:7px 0px 6px 15px;
	cursor:pointer;
}
#ChangeWeighLbl { margin:-41px 0px; }
#RightsideLbl { margin:45px 6px 5px 2px; }
#rightVal { margin: -22px 0px 0px 82px; }
/*#rightminval { margin: 16px 23px -5px 15px;}*/
#rightminval {
	position: relative;
	left: -132px;
	top: 9px;
}
/*#rightmaxval { margin: 0px 0px 0px 81px; }
*/
#rightmaxval {
	position: relative;
	top: 9px;
	left: -32px;
}
#LeftsideLbl { margin: 7px 0px 0px 0px; }
#LeftVal { margin: -16px 0px 0px 75px; }
/*#leftminval {margin: 2px 23px 0px 15px; }
*/
#leftminval {
	position: relative;
	left: -132px;
	top: 9px;
}
/*#leftmaxval { margin: 0px 0px 0px 81px; }
*/
#leftmaxval {
	position: relative;
	top: 9px;
	left: -32px;
}
#ParallelogramBtn {
	margin: 14px -1px 3px 27px;
	width: 136px;
	height: 25px;
}
#protractorBtn {
	margin: 10px -1px 3px 27px;
	width: 136px;
	height: 25px;
}
#scaleBtn {
	margin: 10px -1px 11px 27px;
	width: 136px;
	height: 25px;
}
#ResetBtn {
	margin: 10px -1px 3px 27px;
	width: 136px;
	height: 25px;
}
#PulleyLeft {
	position: absolute;
	left: 100px;
	top: 10px;
}
#PulleyRight {
	position: absolute;
	left: 397px;
	top: 10px;
}
#LeftWeight {
	position: absolute;
	left: 92px;
	top: 230px;
}
#RightWeight {
	position: absolute;
	left: 424px;
	top: 230px;
}
#RightBar {
	position:absolute;
	left: 421px;
	top: 217px;
}
#LeftBar {
	position: absolute;
	left: 89px;
	top: 235px;
}
.BarClass {
	position:absolute;
	left:3px;
	display:none;
}
#bar2, #bar7 { top: 5px; }
#bar3, #bar8 { top: 10px; }
#bar4, #bar9 { top: 15px; }
#bar5, #bar10 { top: 20px; }
#LabelDiv {
	position: absolute;
	left: 10px;
	top: 300px;
	width: 100px;
	height: 24px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #626262;
	text-align: center;
}
#ProtracorDiv {
	position:absolute;
	left: 144px;
	top: 10px;
	display:none;
	width: 279px;
	height: 136px;
	z-index:2;
}
#protractorInside { height: 136px; }
#protractorImg { position: absolute; }
#ScaleDiv {
	position: absolute;
	left: 243px;
	top: 0px;
	display: none;
	width: 70px;
	height: 333px;
	z-index:2;
}
#protractorarrowImg1 {
	position: absolute;
	cursor:pointer;
}
#protractorarrowImg2 {
	position: absolute;
	cursor:pointer;
}
#scalearrowImg1 {
	position: absolute;
	top: 278px;
	left: 26px;
	cursor:pointer;
}
#scalearrowImg2 {
	position: absolute;
	top: 292px;
	left: 26px;
	cursor:pointer;
}
#arrowDivPro1 {
	position: absolute;
	width: 19px;
	height: 14px;
	top: 99px;
	left: 229px;
	cursor:pointer;
}
#arrowDivPro2 {
	position: absolute;
	width: 19px;
	height: 14px;
	top: 113px;
	left: 229px;
	cursor:pointer;
}
#ObjStoneImg {
	position:absolute;
	display:block;
}
#ObjwoodImg {
	position:absolute;
	display:none;
}
#ObjSteelImg {
	position:absolute;
	display:none;
}
#parallelDiagonal {
	position: absolute;
	width: 0px;
	height: 66px;
	left: 100px;
	top: 100px;
	display:none;
	border-color:#F0F;
}
#ParallelCanvas {
	position: absolute;
	left: 50px;
	top: -134px;
	width: 439px;
	height: 400px;
	opacity: 0.5;
}
#zoominDiv { left: 461px; }
.zoomDiv {
	position: absolute;
	border: 1px solid;
	width: 30px;
	height: 30px;
	border-bottom-left-radius: 8px;
	top: 304px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color:#e6e4e4;
	border-color:#d2d0d0;
	cursor:pointer;
}
#zoomInImg {
	position:absolute;
	opacity:0.5;
}
#zoomoutDiv { left: 501px; }
#zoomOutImg {
	position:absolute;
	opacity:1;
}
#submit {
	margin:-3px 0px 3px 27px;
	width: 136px;
	height: 25px;
}
#answer1 {
	width: 49px;
	margin: 0px 0px 0px 61px;
	text-align:right;
}
#CorrectImg {
	display: none;
	position: absolute;
	left: 149px;
	top: 472px;
}
#WrongImg {
	display: none;
	position: absolute;
	left: 149px;
	top: 472px;
}
#InputTxtLbl { margin:0px 4px 10px 0px; }
#WarningLbl {
	margin: 3px 19px 5px 25px;
	opacity: 0;
}
#gramLabel {
	margin: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #626262;
}
#ResultLbl { margin: 9px 15px 6px 10px; }
