.varTitle,#mainDiv,#the_table,.nano,#thecoordinateElement,#thecoordinateElement,#thexasixTag,#thecoordinate_join,#theYlabel,#thexrotatey,#theY-axisTag,.showscale-label{
    
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}



#firstDivPoint,
#firstDivPoint2
,#firstDivPoint3
,#firstDivPoint4
,#firstDivPoint5
,#firstDivPoint6
,#firstDivPoint7
,#firstDivPoint8
,#firstDivPoint9
,#firstDivPoint10,
#firstDivPoint11,
#GraphLine,#GraphHorizontal,#showScale,#showdistanceEquation,#theInference,#the_joinGraphline ,#graphArrowTop,#graphArrowright,#Graphverticalline,#theY-axisTag,#thexasixTag,#thecoordinateElement,#showScaleDiv,#thefirstEquationPreview,#theSecondEquationPreview,#TheFirstEquationOnScreen ,#myCanvas{display: none;
  
}
/* #showScale */
#TheScale,#the_table,#join_lines,#Show_cordinates,#Show_calculations,#Show_Distance{
  opacity: .5;
  pointer-events: none;

}
.cordinateX{
  position: absolute;
  display: none;
  font-size: 1vw;
  top: 97.9%;
  left: 68%;
  /* z-index: 1; */
  font-weight: bolder;
}
.cordinateY{
  position: absolute;
  display: none;
  font-size: 1vw;
  top: 12.9%;
  left: 4%;
  /* z-index: 1; */
  font-weight: bolder;
}
/* */
#myCanvas{
  position: absolute;
    left: 36px;
    top: 35px;
    width: 263px;
    height: 277px;
    /* background-color: aliceblue; */
    /* display: none;*/
}

#graphArrowright{
  position: absolute;
  top: 91.9%;
  height: 6%;
  left: 70%;
}
#graphArrowTop{
  position: absolute;
  top: 5%;
  transform: rotate(270deg);
  height: 6%;
  left: 5.1%;
}


#bgCanvas{
    height: 102%;
    width: 102%;
    top: 0%;
}
table, th, td {
    border: .5px solid black;
  }
  #mainDiv{
    position: absolute;
    top: 0%;
    height: 98%;
    width: 99%;
  }
#bgImage{
  position: absolute;
  height: 129%;
  top: 0%;
  width: 129%;
  left: -9%;
  }
  #firstDivPoint{
    position: absolute;
    top: 90.8%;
    left: 6.5%;
  }
  #GraphLine{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #firstDivPoint2{
    position: absolute;
    top: 85.4%;
    left: 9.8%;
  }
  #firstDivPoint3{
    position: absolute;
    top: 77.6%;
    left: 14.19%;
  }
  #firstDivPoint4{
    position: absolute;
    top: 70%;
    left: 18.5%;
  }
  #firstDivPoint5{
    position: absolute;
    left: 22.8%;
    top: 62.5%;
  }

  #firstDivPoint6
    {
      position: absolute;
      top: 54.8%;
      left: 27.1%;
  }
  #firstDivPoint7
  {
    position: absolute;
    top: 47.3%;
    left: 31.4%;
  }

  #firstDivPoint8{
    position: absolute;
    top: 39.5%;
    left: 35.7%;
  }
  #firstDivPoint9{
    position: absolute;
    top: 31.8%;
    left: 39.95%;
  }
  #firstDivPoint10{
    position: absolute;
    top: 24.2%;
    left: 44.3%;
  }
  #firstDivPoint11{
    position: absolute;
    top: 16.6%;
    left: 48.6%;
  }
  #GraphHorizontal{
    position: absolute;
    top: 94.2%;
    height: 0.8%;
    width: 66%;
    left: 5.8%;
  }
  #Graphverticalline{
    position: absolute;
    height: 0%;
    left: 5.2%;
    top: 9%;
  }
  #axis0_0{
    position: absolute;
    left: 6%;
  }
  .allaxis{

    font-size: 12px;
    font-weight: bold;

  }
  #axis0_1{
    position: absolute;
    left: 10.1%;

  }
  #axis0_2{
    position: absolute;
    left: 14%;
  }
  #axis0_3{
    position: absolute;
    left: 18%;
  }
  #axis0_4{
    position: absolute;
    left: 22.5%;
  }
  #axis0_5{
    position: absolute;
    left: 26.5%;
  }
  #axis0_6{
    position: absolute;
    left: 31%;
  }
  #axis0_7{
    position: absolute;
    left: 35%;
  }
  #axis0_8{
    position: absolute;
    left: 39.3%;
  }
  #axis0_9{
    position: absolute;
    left: 43.5%;
  }
  #axis0_10{
    position: absolute;
    left: 48%;

  }
  #axis0_11{
    position: absolute;
    left: 50%;
  }
  .xCoordinates
  {
    top: 93%;
  }
  #theXlabel{
    position: absolute;
    left: 46%;
    top: 96%;
    font-weight: bold;
    /* font-size: larger; */
  }
  #axis1_0{
    position: absolute;
    top: 83.3%;
  }
  #axis1_2{
    position: absolute;
    top: 75.7%;
  }
  #axis1_3{
    position: absolute;
    top: 68.3%;
  }
  #axis1_4{
    position: absolute;
    top: 61%;
  }
  #axis1_5{
    position: absolute;
    top: 53.3%;
  }
  #axis1_6{

    position: absolute;
    top: 46%;
  }
  #axis1_7{
    position: absolute;
    top: 38.5%;
  }
  #axis1_8{
    position: absolute;
    top: 31%;
  }
  #axis1_9{
    position: absolute;
    top: 23.5%;
  }
  #axis1_10{

    position: absolute;
    top: 15.9%;

  }
  .Ycoordinates
  {
    left: 2.7%;
  }
  #theYlabel{
    position: absolute;
    top: 43%;
    left: 31%;
    font-weight: bold;
    /* transform: rotate(270deg); */
  }
  #thexrotatey{
    position: absolute;
    top: 51%;
    left: -11%;
    transform: rotate(269deg);
    width: 23%;
    height: 12%;

  }
  #thecoordinate_join{
    position: absolute;
    left: -9.5%;
    top: 52%;
    height: 5%;
    transform: rotate(-46.5deg);
  }
.newDesignClick
{
  position: absolute;
  border: solid 1px #f2dc9b;
  background-color: #f2dc9b;
  width: 16%;
  /* height: 8%; */
  padding: 5px;
  top: 12%;
  left: 70%;
  border-radius: 5px;
  display: none;
}

  #the5-10_coordinate{
    position: absolute;
    top: 84%;
    left: 13%;
    display: none;
    font-weight: bold;
  }
  #the10-20_coordinate{
    position: absolute;
    top: 77%;
    left: 17%;
    display: none;
    font-weight: bold;

  }
  #the15-30_coordinate{
    position: absolute;
    top: 69%;
    left: 21%;
    display: none;
    font-weight: bold;

  }
  #the20-40_coordinate{
    position: absolute;
    left: 26%;
    top: 61%;
    display: none;
    font-weight: bold;

  }
  #the25-50_coordinate{
    position: absolute;
    top: 53%;
    left: 30%;
    display: none;
    font-weight: bold;

  }
  #the30-60_coordinate{
    position: absolute;
    top: 46%;
    left: 34%;
    display: none;
    font-weight: bold;

  }
  #the35-70_coordinate{
    position: absolute;
    top: 38%;
    left: 39%;
    display: none;
    font-weight: bold;

  }
  #the40-80_coordinate{
    position: absolute;
    top: 31%;
    left: 43%;
    display: none;
    font-weight: bold;

  }
  #the45-90_coordinate{
    position: absolute;
    left: 47%;
    top: 23%;
    display: none;
    font-weight: bold;

  }
  #the50-100_coordinate{
    
    position: absolute;
    top: 16%;
    left: 52%;
    display: none;
    font-weight: bold;

  }
  #showscale{
    position: absolute;
    top: 6%;
    left: 71%;
  }
  .showscale-label{
    /* position: absolute;
    top: 7%;
    left: 77%; */
  }
  #showScaleDiv{
    position: absolute;
    top: 17%;
    width: 90%;
    height: 70%;
    left: 4%;
    background-color: cornsilk;
    opacity: .9;
  }
  #FirstScaleImage{
    height: 46%;
    position: absolute;
    top: 27%;
    left: 2%;
  }
  #SecondScaleImage{
    position: absolute;
    top: 31%;
    height: 48%;
    left: 1%;
  }
  #thefirstEquationPreview{
    position: absolute;
    top: 59%;
    width: 99%;
    top: 6%;
    height: 88%;
    background-color: #ffffff;
    /* z-index: 9; */
  }
  #First-Accelaration-equation{

    position: absolute;
    height: 36%;
    left: 8%;
    top: 24%;
    /* position: absolute;
    height: 56%;
    left: 14%;
    top: 24%; */
  }
  #The_V2Value{
    position: absolute;
    left: 26%;
    top: 31%;
    height: 18%;
    width: 11%;
    font-size: xxx-large;
  }
  #The_V1Value{
    position: absolute;
    left: 41%;
    top: 31%;
    height: 18%;
    width: 10%;
    font-size: xxx-large;
  }
  #The_T2Value{
    position: absolute;
    left: 26%;
    top: 50%;
    height: 18%;
    width: 12%;
    font-size: xxx-large;
    align-items: center;
  }
  #The_T1Value{
    position: absolute;
    left: 43%;
    top: 50%;
    height: 18%;
    width: 10%;
    font-size: xxx-large;
  }
  #theSecondEquationPreview{
    position: absolute;
    top: 59%;
    width: 99%;
    top: 6%;
    height: 88%;
    background-color: #ffffff;
  }
  #Second-Accelaration-equation{
    position: absolute;
    height: 33%;
    left: 1%;
    top: 34%;
  }
  #TheSecond_V2Value{
    position: absolute;
    left: 44%;
    top: 34%;
    height: 18%;
    width: 11%;
    font-size: xxx-large;
  }
  #TheSecond_V1Value{
    position: absolute;
    left: 57%;
    top: 34%;
    height: 18%;
    width: 10%;
    font-size: xxx-large;
  }
  #TheSecond_T2Value{
  
    position: absolute;
    left: 43%;
    top: 50%;
    height: 18%;
    width: 12%;
    font-size: xxx-large;
    align-items: center;
  }
  #TheSecond_T1Value{
    position: absolute;
    left: 59%;
    top: 50%;
    height: 18%;
    width: 10%;
    font-size: xxx-large;
  }
  #showdistanceEquation{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
  } 
  #theFinal_Equation{
    position: absolute;
    height: 100%;
    left: -4%;
    width: 110%;
    /* z-index: 99; */
  }

#ThelastequationV2
{ 
  position: absolute;
  left: 54%;
  top: 66%;
  height: 11%;
  width: 11%;
  font-size: x-large;

}
#ThelastequationV1
{ 
  position: absolute;
  left: 11%;
  top: 66%;
  height: 18%;
  width: 11%;
  font-size: x-large;

}
#ThelastequationT1
{ 
  position: absolute;
  left: 33%;
  top: 66%;
  height: 18%;
  width: 11%;
  font-size: x-large;
}
#ThelastequationT2
{ 
  position: absolute;
  left: 23%;
  top: 66%;
  height: 18%;
  width: 11%;
  font-size: x-large;


}
.secondV1{
  position: absolute;
  left: 63% !important;
}
.secondT2{
  left: 73% !important;
}
.secondT1{
  left: 82% !important;
}
#The_resultOfthe_Distance{
  position: absolute;
  left: 45%;
  top: 85%;
  height: 18%;
  width: 31%;
  font-size: xx-large;
}

/* The Questions */
.questionLayout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d102eed;

  top: 0%;
  z-index: 1000;

}
.questionNumber
{
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: #c0c1c900;
  top: 2%;
  border-bottom: solid #ffffff75;
}
.questionNumberTestDesign
{
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1rem;
  top: 20%;
  left: 3%;
  font-family: 'Inconsolata';
}
.questionNumberScoreDesign
{
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1rem;
  top: 20%;
  left: 82%;
  font-family: 'Inconsolata';
}
.questionText
{
  position: absolute;
  color: #cac9cbb3;
  top: 18%;
  left: 3%;
  /* background-color: rgb(36, 14, 66); */
  width: 94%;
  height: 21%;
}
.questionTextAlignment
{
  position: absolute;
  width: 94%;
  height: 75%;
  top: 11%;
  left: 2%;
  font-size: .9rem;
  color: #fcf8f8;
  text-align: justify;
  line-height: 1.3;
  cursor: not-allowed;
}
.OptionOne
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 34%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.OptionTwo
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 48%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.OptionThree
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 62%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.OptionFour
{
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 76%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
.optionTestDesign {
  position: absolute;
  color: #ffffff;
  font-size: .8rem;
  top: 20%;
  left: 5%;
}
.optionNo
{
  padding-right: 7px;
}
#theInference {
  position: absolute;
  top: 8%;
  height: 10%;
  left: 8%;
  /* z-index: 10; */
}
#InferenceMessage{
  position: absolute;
  top: 30%;
  left: 13%;


}
.subButton{
  width: 126px; 
}
