
#myCanvas {
    
    position: absolute;
    width: 570px;
   	height: 442px;
	
}

#Mvalue{
    position: absolute;
	top:380px;
	left:330px;
  }
#BG{    
    position: absolute;
    width: 570px;
   	height: 442px;
}

#topValue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7.5px;
    color:#F00;
}

.item :hover
{
	background-color:#688E91;
}

.dropBox
{
	width: 132px !important;	
}