#thumbContainer {
    max-height: 300px; /* Set a fixed height */
    /* overflow-y: auto;   */
}



.sim-body{
    width: 800px;
     height: 482px;
      display: block;
}

.sim-head{
    size: 11px;
}
#expName{
    size: 11px;
}

.varTitle{
    position:sticky;
     top:0;
     background:#edece7;
}
.sim-div{
    width: 100%;
}






.hidden {
    display: none;
}

#mainDiv {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
}

.text-center {
    text-align: center;
}

.absolute {
    position: absolute;
}

/* CONTROLS */
.thumbs {
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.variables {
    text-align: left;
    padding-left: 23%;
    font-size: 0.8vw;
}

.thumb_drop,
.thumb-answer,
.thumb {
    width: 100%;
    /* height: 30%; */
    /* background-color: aqua; */
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    transition: .3s;
}

.thumb {
    cursor: pointer;
}

.thumb-repulsion {
    display: none;
    width: 100%;
    text-align: center;
}

#dropBoc {
    width: 100%;
    height: 50px;
    ;
}

.gap-10 {
    gap: 10px;
    display: inline-flex;

}

.box {
    width: 88%;
    /* border: .05px solid; */
    padding: 10px;

}

.box img {
    width: 100%;

}


.thumb:hover {
    box-shadow: 1px 1px 6px 1px #878787;
    background-color: antiquewhite;
}


.thumb-active {
    box-shadow: 1px 1px 6px 1px #878787;
    background-color: antiquewhite;
}



.thumb:hover .thumb-title {
    text-decoration: underline;
}

.thumb-title {
    font-size: 1.1vw;
}
.optionColour{
    background-color: rgb(192, 136, 136);
}
.subButton {

    font-family: 'Noto Sans', 'Noto Sans Malayalam', 'Noto Sans Telugu', sans-serif !important;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #AAAAAA #AAAAAA #888888;
    border-image: none;
    border-style: solid;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    float: none;
    font-size: 1.2vh;
    font-weight: bold;
    line-height: 1.3em;
    margin: 0%;
    padding: 0.45em 0.8em;
    text-decoration: none;
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #c8c8c8));
    background: -webkit-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, #c8c8c8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c8c8c8', GradientType=0);
}

/* CONTROLS END */
#screen_1 {
    /* display: none; */
}
#testRepulsion{
    position: absolute;
    display: none;
    z-index: 10;
}

#screen_2 {
    display: none;
}

#bg {
    width: 100%;
    height: 100%;
}

#mainDiv img {
    position: absolute;
}

.sim-canvas {
    overflow: hidden;
}

.dummy {
    width: 112%;
    left: -6%;
    z-index: 0;
}

.drop-area {
    width: 52%;
    height: 58%;
    position: absolute;
    left: 24%;
    top: 0%;
}

.wooden-board {
    width: 51%;
    left: 25%;
    top: 30%;
    display: none;
}

.wooden-block {
    top: 12%;
    width: 6.7%;
    display: none;
    left: 10%;

}

.block-with-nail-l {
    left: 33%;

}

.block-with-nail-r {
    left: 63%;

}

.metal-strip {
    width: 7.5%;
    display: none;

}

.metal-l1,
.metal-r1 {
    left: 10%;
    top: 12%;
}

.metal-l2 {
    left: 32%;

}

.metal-r2 {
    left: 63.5%;

}

.metal-l2,
.metal-r2 {
    top: 10%;
    display: none;
}

.nail {
    width: 1%;
    left: 10%;
    top: 40%;
    display: none;
}

.blk-nail {
    display: none;
}

.rh-div {
    position: absolute;
    width: 27%;
    top: 63%;
    left: 18%;
    display: none;
}

.rh-base {
    width: 100%;

}

.rh-top {
    width: 14%;
    top: 62%;
    left: 16%;
    z-index: 3;
    cursor: pointer;
    /* display: none; */
    /* pointer-events: none; */
}

.rh-container {
    width: 70%;
    left: 12%;
    height: 100%;
    position: absolute;
    border: solid;
    /* display: none; */
}

.key-base {
    width: 12.3%;
    left: 47.5%;
    top: 69%;
    display: none;
}

.key {
    width: 5%;
    left: 88%;
    top: 75%;
    display: none;
}

.battery {
    width: 13%;
    left: 63%;
    top: 60%;
    display: none;
}

.cu-metal-to-metal {
    width: 26%;
    left: 38.5%;
    top: 10%;
    display: none;
}

.cu-nail-to-nail {
    width: 24%;
    left: 39.5%;
    top: 40%;
    display: none;
}

#ammeter-div1 {
    position: absolute;
    left: 75%;
    top: 41%;
    width: 11%;
    height: 13%;
    display: none;

}
#ammeter-div2 {
    position: absolute;
 
    left: 77%;
    top: 22%;
    width: 11%;
    height: 13%;
    display: none;

}


.ammeter2 {
    position: absolute;
    left: 75.5%;
    top: 43%;
    width: 9.5%;
    height: 13%;
    display: none;
}

.ammeter-div .ammeter-img {
    width: 100%;
    display: none;
}

.ammeterNeedleIa, .ammeterNeedleIb {
    transform-origin: bottom !important;
}
.ammeterNeedleIa {
    transform: rotate(280deg);
    width: 9%;
    left: 45%;
    top: 18%;
}
.ammeterNeedleIb {
    transform: rotate(282deg);
    width: 9%;

    left: 46%;
    top: 18%;
}
.wire {
    display: none;
}

.wire-rh-to-metal1 {
    width: 23%;
    top: 11%;
    left: 10.5%;
}

.wire-rh-to-nail1 {
    width: 29%;
    left: 22%;
    top: 52%;
}

.ammeter1-metal2 {
    width: 11%;
    left: 68.4%;
    height: 23%;
    top: 12%;
}

.battery-ammeter2 {
    width: 9%;
    left: 73.3%;
    top: 50.7%;
    height: 10%;
}

.battery-ammeter1 {
    width: 16%;
    left: 73.7%;
    top: 29.5%;
    height: 33%;
}

.rh-key {
    width: 8.5%;
    left: 42.5%;
    top: 64.5%;

}

.key-battery {
    width: 11%;
    left: 56%;
    top: 58%;
}

.rh-nail1 {
    width: 16.8%;
    left: 23.5%;
    top: 42%;
}

.rh-nail2 {
    width: 41.5%;
    left: 22.5%;
    top: 41.5%;
    display: none;
}

.ammeter2-nail2 {
    width: 14.2%;
    left: 63.5%;
    top: 42.2%;
    height: 9%;
}

.nail1-ammeter2 {
    width: 38.5%;
    height: 13%;
    left: 39%;
    top: 41.9%;
    display: none;

}

.thumb-repulsion {
    pointer-events: "auto !important"
}

.round-lg {
    width: 5%;
    height: 7.5%;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    /* border: solid; */
    display: none;
}

.round-md {
    width: 3%;
    height: 5%;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    /* border: solid; */
    display: none;
}

.round-lg:hover,
.round-md:hover {
    opacity: 1;
    background-color: rgba(193, 20, 20, 0.6);
}

.round2 {
    display: none;
    /* border:solid; */
}

.metal1-div {
    left: 33%;
    top: 8%;
}

.rh-left-div,
.rh-left-div2 {
    left: 19%;
    top: 73%;
}

.rh-right-div {
    left: 42%;
    top: 62%;
}

.metal2-div {
    left: 64%;
    top: 7%;
}

.ammeter1-negative-div {
    left: 82%;
    top: 30%;
}

.ammeter1-positive-div {
    left: 77%;
    top: 30%;
}

.ammeter2-negative-div {
    left: 84%;
    top: 41%;

}

.ammeter2-positive-div,
.ammeter2-positive-div2 {
    left: 79.5%;
    top: 41%;

}

.battery-negative-div {
    left: 72%;
    top: 58%;
}

.battery-positive-div {
    left: 65%;
    top: 58%;
}

.key-right-div {
    left: 54.5%;
    top: 68%;
}

.key-left-div {
    left: 48.7%;
    top: 68%;
}

.nail2-div,
.nail2-div2 {
    left: 61.7%;
    top: 38%;
}

.nail1-div,
.nail1-div2 {
    left: 37.7%;
    top: 38%;
}

.bl-left {
    display: none;
}

#canvas1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.key-drop-area {
    width: 13%;
    height: 18%;
    left: 47%;
    top: 60%;
    position: absolute;
    /* border: solid; */
}

#bigAttDiv {
    position: absolute;
    width: 26%;
    left: 38.5%;
    top: 10%;
    height: 29.3%;
    /* display: none; */
}

#bigRepDiv {
    position: absolute;
    width: 29%;
    left: 37%;
    top: 10%;
    height: 30.3%;
    /* display: none;*/
}

#bigAttDiv img,
#bigRepDiv img {
    width: 100%;
    height: 97%;
    display: none;
}

#smallAttDiv {
    position: absolute;
    width: 24%;
    left: 39.5%;
    top: 37%;
    /* display: none; */
}

#smallRepDiv {
    position: absolute;
    width: 24%;
    left: 39.5%;
    top: 39.5%;
    /* display: none; */
}

#smallAttDiv img,
#smallRepDiv img {
    width: 100%;
    display: none;
}

#showCircuit {
    position: absolute;
    z-index: 10;
    display: none;
}

.circuit {
    position: absolute;
    width: 100%;
    z-index: 9;
    display: none;
}

#inference {
    cursor: pointer;
    width: 7%;
    left: 2%;
    top: 3%;
}
#inference{
    display: none;
}
/* Canvas end */