/*author:anishasl
Date:21/12/2013
file name:simstyle.css*/
#canvasBox {
	overflow:hidden;
}
#myCanvas {
	position: absolute;
	left: 0px;
	top: 10px;
}
#mainDiv {
	overflow:hidden;
	position:absolute;
	height:336px;
	width:560px;
	background:#FFF;
	opacity:0.99;
	-webkit-user-select: none;
}
.ws-range-thumb {
	left:0px;
!important
}
.varTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #626262;
	text-align: left !important;
}
.varTitleEqn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: #626262;
	text-align: left !important;
}
.varTitleEqn1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #626262;
	text-align: left !important;
}
.dropBox {
	margin: -6px 0px 3px 8px;
	width:170px;
	font-family: "Arial", Gadget, sans-serif;
	font-size: 12px;
!important;
}
#ProtractorBtn {
	margin: 98px 0px 13px 27px;
}
.protractor, .tube, .wave {
	height: 26px;
	width:145px;
}
#tubeBtn {
	margin: -3px 0px 13px 27px;
}
#waveBtn {
	margin: -3px 0px 13px 27px;
}
#RightTube {
	-webkit-user-select: none;
}
#rightTubeDiv {
	position:absolute;
	visibility:visible;
	z-index: 2;
	cursor:pointer;
	cursor:hand;
	width:37px;
	height:181px;
	top: 93px;
	left: 296px;
	-webkit-user-select: none;
}
#leftTubeDiv {
	position:absolute;
	visibility:visible;
	z-index: 2;
	cursor:pointer;
	cursor:hand;
	width:37px;
	height:181px;
	top: 93px;
	left: 267px;
	-webkit-user-select: none;
}
#LeftdottedLine {
	z-index: 3;
	position: absolute;
	left: 16px;
	top: -6px;
	-webkit-user-select: none;
}
#RightdottedLine {
	z-index: 3;
	position: absolute;
	left: 17px;
	top: -6px;
	-webkit-user-select: none;
}
#LeftTube {
	position:absolute;
}
#sineWave1 {
	position: absolute;
	width: 20px;
	height: 197px;
	top: 2px;
	left: 3px;
	overflow:hidden;
	visibility:hidden;
	-webkit-user-select: none;
}
#sineWaveMain {
	position: absolute;
	width: 20px;
	height: 197px;
	top: 0px;
	left: 6px;
	overflow: hidden;
	z-index: 3;
	-webkit-user-select: none;
}
#sineWaveimg1 {
	top: -10px;
	position:absolute;
	-webkit-animation: movesineWave1 5s infinite linear;
	-moz-animation: movesineWave1 5s infinite linear;
	-o-animation: movesineWave1 5s infinite linear;
}

/*sine wave animation*/
@-webkit-keyframes movesineWave1 {
from {
top:0px;
transform:translate(0px, -212px);
}
to {
	top:-212px;
	transform:translate(0px, -212px);
}
}
@-moz-keyframes movesineWave1 {
from {
top:0px;
transform:translate(0px, -187px);
}
to {
	top:-187px;
	transform:translate(0px, -187px);
}
}
@-o-keyframes movesineWave1 {
from {
top:0px;
transform:translate(0px, -212px);
}
to {
	top:-212px;
	transform:translate(0px, -212px);
}
}
/*sine wave animation ends*/
#sineWave2 {
	position: absolute;
	width: 20px;
	height: 189px;
	top: -4px;
	left: 218px;
	visibility:hidden;
	-webkit-user-select: none;
}
#sineWaveMain2 {
	position: absolute;
	width: 18px;
	height: 197px;
	top: 2px;
	left: 8px;
	overflow: hidden;
	-webkit-user-select: none;
}
#sineWaveimg2 {
	position:absolute;
	top:-200px;
	-webkit-animation: movesineWave2 5s infinite linear;
	/*-moz-animation: movesineWave2 5s infinite linear;*/
	-o-animation: movesineWave2 5s infinite linear;
}
/*sine wave animation2*/
@-webkit-keyframes movesineWave2 {
from {
top:-212px;
transform:translate(-212px, 0px);
}
to {
	top:0px;
	transform:translate(-212px, 0px);
}
}
@-moz-keyframes movesineWave2 {
from {
top:-212px;
transform:translate(-212px, 0px);
}
to {
	top:0px;
	transform:translate(-212px, 0px);
}
}
@-o-keyframes movesineWave2 {
from {
top:-212px;
transform:translate(-212px, 0px);
}
to {
	top:0px;
	transform:translate(-212px, 0px);
}
}
/*sine wave animation2 ends*/

#ProtractorDiv {
	position:absolute;
	visibility:hidden;
	left: 456px;
	top: -104px;
	height: 167px;
	z-index: 3;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: 50% 100%;
	-moz-transform: rotate(180deg);
	-moz-transform-origin: 50% 100%;
	transform: rotate(180deg);
	transform-origin: 50% 100%;
	-webkit-user-select: none;
}
#ProtractorImg {
	position:absolute;
	cursor:pointer;
	cursor:hand;
}
#divForClose {
	width: 53px;
	height: 60px;
	left: 33px;
	top: 114px;
	visibility: hidden;
	position: absolute;
	cursor:pointer;
	cursor:hand;
	z-index: 5;
}
#TurningFork {
	width: 16px;
	height: 10px;
	z-index: 1;
	/*position: absolute;*/
	left: 264px;
	top: 205px;
	display: block;
	cursor:pointer;
	cursor:hand;
}
.TurningFork1 {
	position: absolute;
	display: block;
}
.TurningFork2 {
	position: absolute;
	display: block;
	top: -11px;
	left: -3px;
}
.TurningFork3 {
	position: absolute;
	display: block;
	top: -13px;
	left: -8px;
}
.TurningFork4 {
	position: absolute;
	display: block;
	top: -15px;
	left: -13px;
}
.TurningFork5 {
	position: absolute;
	display: block;
	top: -16px;
	left:-19px
}
.TurningFork6 {
	position: absolute;
	display: block;
	top: -16px;
	left: -9px;
}
#Sound {
	position: absolute;
	left: 11px;
	top: 293px;
	display: block;
}
.sound1 {
	position: absolute;
	display: block;
}
.sound2 {
	position: absolute;
	display: none;
}
.sound3 {
	position: absolute;
	display: none;
}
.sound4 {
	position: absolute;
	display: none;
}
#hitLeftDiv {
	position: absolute;
	width: 18px;
	height: 250px;
	left: 8px;
	-webkit-user-select: none;
}
#sample {
	left: 300px;
	position: absolute;
	width: 43px;
	height: 50px;
	top: 278px;
}
#sample1 {
	left: 10px;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 200px;
	display:none;
}
#moveInHere {
	position: absolute;
	left: 26px;
	top: 86px;
	width: 261px;
	height: 230px;
}
