.varBox,
#bgCanvas1,
#scene1,
#scene2 {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

img,
.sim-buttons .sim-btn,
#changeScreenBtn,
#simHelp {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

#mainDiv div {
  position: absolute;
}

.sim-controls {
  display: none;
}

.sim-div {
  width: 100%;
}

#mainDiv img {
  position: absolute;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.userSelect,
#mainDiv,
.sim-footer div,
.sim-body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#bg {
  height: 100%;
  width: 100%;
}

.flexbox {
  display: flex;
}

.px-20 {
  padding-left: 5px;
  padding-right: 5px;

}

#actTypes,
#springLen,
#soundVelo,
#tempValue,
#environVal {
  height: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  background-color: lavenderblush;
  text-align: left;
  margin-top: 0%;
  border: solid;
  cursor: pointer;
  box-shadow: 0 0 cadetblue;
}

#bottleFull:hover #bottleFull {
  background-color: blue;
}

#classifyType {
  padding-left: 5px;
  padding-right: 5px;
}

#next {
  position: absolute;
  top: 80%;
  width: 11%;
  height: 10%;
  font-size: 1.5vw;
  left: 86%;
  background-color: #DBDBDB;
  border-radius: 9%;
  display: none;
  pointer-events: none;

}

#usingSlide {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#scaleDiv{
  left: -7.5%;
  top: 66%;
  width: 35%;
  height: 11%;
    /* border: solid; */
}
#planeScale{
  left: 44%;
    top: -102%;
    width: 8%;
    height: 264%;
    transform: rotate(90deg);
}
#nameBoardScale{
  left: 24%;
    top: 60%;
    width: 46%;
    height: 63%;
}
#scaleDropArea{
  /* border: solid; */
  width: 25%;
  height: 40%;
  left: 29%;
  top: 15%;
  z-index: 100;
    display: none;
}
#noteDiv{
  left: 25%;
    top: 2%;
    width: 33%;
    height: 20%;
    display: none;
}
#slideConn {
  height: 25%;
  width: 20%;
  top: 63%;
  left: 1%;
  z-index: 10;
}

#slideImg {
  top: 27%;
  left: 15%;
  width: 58%;
  height: 17%;
}

#slideImg2 {
  top: 56%;
  left: 11%;
  width: 60%;
  height: 20%;
}

#rubber {
  height: 9%;
  width: 47%;
  top: 99%;
  left: 103%;
  cursor: pointer;
  z-index: 1;
}

#matchStick {
  height: 6%;
  width: 60%;
  top: 41%;
  left: 96%;
  z-index: 1;
}

#rubberAnimation {
  width: 100%;
  height: 100%;
}

.newRubAnimation1 {
  position: absolute;
  top: 31%;
  left: 0%;
  height: 48%;
  width: 97%;
}

.newRubAnimation{
  top: 84%;
  left: 0.4%;
  height: 28%;
  width: 20.3%;
  display: none;

}

.newWatAnimation1 {
  height: 100%;
  width: 100%;
}

.newWatAnimation {
  height: 68.5%;
  width: 38.5%;
  left: 32%;
  top: 17%;
  z-index: 1;
  display: none;

}

.newWatAnimationCap1 {
  height: 100%;
  width: 100%;
}

.newWatAnimationCap {
  height: 25.2%;
  width: 16.8%;
  top: 39%;
  left: 34%;
  z-index: 15;
  display: none;

}

.newWatAnimationZoom1 {
  height: 100%;
  width: 100%;
}

.newWatAnimationZoom {
  top: -4%;
  left: 58%;
  height: 76%;
  width: 42%;
  z-index: 1;
  display: none;

}

#waterRiseZoom {
  top: -4%;
  left: 58%;
  height: 76%;
  width: 42%;
  z-index: 100;
  display: none;
}

#water {
  height: 50%;
  width: 90%;
  top: 38%;
  left: 5.5%;
}

#chinaWater {
  height: 11%;
  width: 14.5%;
  top: 67%;
  left: 51%;
  z-index: 1;
}

#potashimg {
  height: 52%;
  width: 90%;
  top: 38%;
  left: 5.5%;
  display: none;
}

#potashimgCapill {
  height: 2%;
  width: 16%;
  top: 63%;
  z-index: 15;
  transform: rotate(180deg);
  left: 34.5%;
  display: none;
}

#chinaDish {
  top: 10%;
}

#waterimg {
  width: 108%;
  top: 5%;
  height: 12%;
}

#chinaDishWater {
  top: 10%;

}

#chinaDishPot {
  top: 10%;
}

#stand {
  height: 100%;
  width: 39%;
  left: 24%;
  top: 0%;
}

.gapSize {
  padding-top: 20px;
}

#secondPage {
  display: none;
}

#usingCap {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
}

#standSecondOne {
  height: 78%;
  width: 18%;
  left: 20%;
  transform: scaleX(1.5);
  top: 3%;
  z-index: 1;


}

#standSecondTwo {
  height: 78%;
  width: 17%;
  left: 46%;
  transform: scaleX(-1.5);
  top: 3%;
  z-index: 1;

}

#clampOne {
  height: 8%;
  width: 17%;
  left: 60%;
  top: 87%;
  transform: skew(10deg);
}

#clampTwo {
  height: 8%;
  width: 17%;
  left: 49%;
  top: 88%;
  transform: skewX(14deg);
}

#clampOneTop {
  height: 84%;
  width: 92.63%;
  left: 14.0%;
  z-index: 1;
  cursor: pointer;
  display: none;
  top: -9.3%;


}

#clampTwoTop {
  height: 84%;
  width: 90%;
  left: 7.48%;
  top: -10%;
  z-index: 2;
  cursor: pointer;
  display: none;
}

.questionLayout {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(36 14 66);
  top: 0%;
  z-index: 1000;

}

.questionNumber {
  position: absolute;
  width: 100%;
  height: 12%;
  background-color: #c0c1c900;
  top: 2%;
  border-bottom: solid #ffffff75;
}

.questionNumberTestDesign {
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1.8vw;
  top: 20%;
  left: 3%;
  font-family: 'Inconsolata';
}

.questionNumberScoreDesign {
  position: absolute;
  color: #fbfbfb8f;
  font-size: 1.8vw;
  top: 20%;
  left: 88%;
  font-family: 'Inconsolata';
}

.questionText {
  position: absolute;
  color: #cac9cbb3;
  top: 18%;
  left: 3%;
  width: 94%;
  height: 12%;
}

.questionTextAlignment {
  position: absolute;
  width: 98%;
  height: 75%;
  top: 11%;
  left: 2%;
  font-size: 1.5vw;
  color: #fcf8f8;
  text-align: justify;
  line-height: 1.3;
  cursor: not-allowed;
}

.OptionOne {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 41%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}

.OptionTwo {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 56%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}

.OptionThree {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 62%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}

.OptionFour {
  position: absolute;
  border: solid 2px #35aad3c7;
  top: 76%;
  width: 88%;
  height: 11%;
  left: 5%;
  border-radius: 10px;
  cursor: pointer;
}

.optionTestDesign {
  position: absolute;
  color: #ffffff;
  font-size: 1.5vw;
  top: 20%;
  left: 5%;
}

.optionNo {
  padding-right: 7px;
}

#bottleFull {
  height: 41%;
  width: 22%;
  left: 63%;
  top: 32%;
  z-index: 5;
}

#spatulaDiv {
  height: 10%;
  width: 20%;
  left: 78%;
  top: 76%;
  z-index: 1;
}

#spatulaPowder {
  left: 2%;
  height: 35%;
  top: 29%;
  width: 23%;
  display: none;
}

#spatula {
  height: 64%;
  width: 95%;
  left: 4%;
  top: 9%;
}

#spatulaDivBehind {
  left: 72%;
  top: 30%;
  height: 10%;
  width: 20%;
  z-index: 1;
  display: none;
}

#spatulaPowderBehind {
  left: 2%;
  height: 35%;
  top: 29%;
  width: 23%;
}

#spatulaBehind {
  height: 64%;
  width: 95%;
  left: 4%;
  top: 9%;
}

#spatulaDivBehindCapill {
  height: 12%;
  width: 20%;
  left: 74%;
  top: 34%;
  z-index: 1;
  display: none;
}

#spatulaPowderBehindCapill {
  height: 26%;
  width: 17%;
  left: 9%;
  top: 44%;
}

#spatulaBehindCapill {
  height: 51%;
  width: 84%;
  left: 9%;
  top: 29%;
}

#bottle {
  top: 16%;
  left: -26%;
  height: 82%;
  width: 148%;
}

#bottleCap {
  height: 20%;
  width: 55%;
  left: 23%;
  top: 2%;
}

#petriBack {
  height: 72%;
  width: 96%;
  top: 32%;
  left: 0%;
}

#petriFront {
  height: 90%;
  width: 93.6%;
  top: -1%;
  left: 3%;
}

#glassrod {
  left: 82%;
    transform: rotate(90deg);
    height: 36%;
    top: 76%;
    z-index: 5;
}

#glassrodCapill {
  left: 14%;
  transform: rotate(90deg);
  height: 41%;
  width: 0.6%;
  top: 73%;
  z-index: 10;

}

#bottleFullCapill {
  height: 37%;
  width: 21%;
  left: 65%;
  top: 39%;
}

#bottleCapill {
  top: 16%;
  left: -26%;
  height: 82%;
  width: 148%;
}

#spatulaDivCapill {
  height: 12%;
  width: 20%;
  left: 79%;
  top: 78%;
}

#spatulaCapill {
  height: 50%;
  width: 84%;
  left: 9%;
  top: 30%;
}

#spatulaPowderCapill {
  height: 26%;
  width: 17%;
  left: 9%;
  top: 44%;
  display: none;
}

#capCapill {
  height: 20%;
  width: 54%;
  left: 24%;
  top: 2%;
  cursor: pointer;
}

#chinaDishWaterCapill {
  top: 63%;
  left: 33%;
  width: 19%;
  height: 11%;
  z-index: 16;

}

#chinaBack {
  top: 62%;
  left: 34%;
  width: 18%;
  height: 2%;
}

#chinaDishPotCapill {
  top: 61%;
  left: 33%;
  width: 19%;
  height: 11%;

  display: none;
}

.headRig {
  text-align: left;
  width: 13%;
}

#slideArea {
  height: 27%;
  width: 20%;
  left: 1%;
  top: 67%;
}

#slideImg3 {
  top: 31%;
  left: -10%;
  height: 55%;
  width: 100%;
  display: none;
}

#slideImgMat {
  top: 32%;
  left: -9%;
  height: 55%;
  width: 100%;
  display: none;
}

#rubname {
  top: 78%;
  left: 20%;
  height: 8%;
  width: 17%;
}

#matname {
  top: 64%;
  left: 19%;
  height: 8%;
  width: 17%;
}
#rodname {
  top: 85%;
  left: 73%;
  height: 7%;
  width: 19%;
}
#rodnameTwo {
  top: 83%;
  left: 5%;
  height: 8%;
  width: 17%;
}
#spaname {
  top: 69%;
  left: 81%;
  height: 7%;
  width: 19%;
}
#spanameTwo {
  top: 73%;
  left: 84%;
  height: 7%;
  width: 16%;
}
#slidename {
  top: 87%;
  left: 1%;
  height: 7%;
  width: 18%;
}
#petname {
  top: 87%;
  left: 50%;
  height: 8%;
  width: 18%;
}

#clampname {
  top: 80%;
    left: 55%;
    height: 8%;
    z-index: 10;
    width: 17%;
}
#dishname {
  top: 78%;
  left: 35%;
  height: 8%;
  width: 17%;
  z-index: 10;
}
#standArea {
  height: 32%;
  width: 20%;
  left: 47%;
  top: 7%;
}

#petriArea {
  height: 37%;
  width: 14%;
  left: 52%;
  top: 47%;
  z-index: 18;
}

#BottleArea {
  height: 32%;
  width: 20%;
  left: 64%;
  top: 21%;
}

#standAreaCapill {
  height: 37%;
  width: 57%;
  left: 14%;
  top: 2%;
  z-index: 10;
  display: none;
}

#BottleAreaCapill {
  height: 32%;
  width: 20%;
  left: 69%;
  top: 27%;
}

#chinaArea {
  height: 32%;
  width: 20%;
  left: 32%;
  top: 41%;
  z-index: 10;
}

#spatulaPowderPetri {
  left: 36%;
  height: 38%;
  width: 23%;
  top: 55%;
  display: none;
}

#inference {
  height: 10%;
  width: 6%;
  left: 5%;
  top: 12%;
  cursor: pointer;
  z-index: 100;
  display: none;
}

#inferenceCapill {
  height: 10%;
  width: 6%;
  left: 5%;
  top: 12%;
  cursor: pointer;
  z-index: 100;
  display: none;
}

.labelTab {
  margin-top: 5%;
  font-size: 0.96vw;
}

td {
  text-align: left;
}

#resultData {
  margin-top: 9%;
  font-weight: 700;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 1px;

}

#capillOne {
  height: 26%;
  top: 36%;
  width: 1%;
  left: 36%;
  z-index: 21;
  /* cursor: pointer; */
  display: none;
}

#capillTwo {
  height: 26%;
  top: 36%;
  width: 1%;
  left: 38.3%;
  z-index: 21;
  display: none;
  /* cursor: pointer; */
}

#capillThree {
  height: 26%;
  top: 36%;
  width: 1%;
  left: 40.5%;
  z-index: 21;
  display: none;
  /* cursor: pointer; */
}

#capillFour {
  height: 26%;
  top: 36%;
  width: 1%;
  left: 43%;
  z-index: 21;
  display: none;
  /* cursor: pointer; */
}

#capillFive {
  height: 26%;
  top: 36%;
  width: 1%;
  left: 45%;
  z-index: 21;
  display: none;
  /* cursor: pointer; */
}

#capillSix {
  height: 26%;
  top: 36%;
  width: 2%;
  left: 47%;
  z-index: 21;
  display: none;
  /* cursor: pointer; */
}

#radiusShow {
  display: none;
}

#standBody {
  width: 32.6%;
  height: 86.15%;
  left: 35.2%;
  top: -31%;
}

#standbase {
  height: 69%;
  width: 32.4%;
  left: 35.5%;
  top: 17%;
  z-index: 1;
}

#slideImgMatStand {
  height: 13%;
  width: 28.3%;
  left: 58%;
  top: 69.2%;
  display: none;
}

#frontclamp {
  height: 6.4%;
  width: 32%;
  left: 32%;
  top: 70%;
  z-index: 1;
}

#frontLock {
  height: 11.9%;
  width: 25.9%;
  left: -5%;
  top: 70%;
  z-index: 1;
}

#backclamp {
  height: 6.4%;
  width: 73%;
  left: -10%;
  top: 69%;
}

#waterRise {
  height: 68.5%;
  width: 38.5%;
  left: 32%;
  top: 17%;
  z-index: 1;
  display: none;

}

#clamp1whole {
  height: 30%;
  width: 35%;
  top: 6%;
  left: 5%;
}

#clamp2whole {
  height: 30%;
  width: 35%;
  top: 6%;
  left: 40%;

}

#standSecondOneLockFront {
  height: 43%;
  width: 22%;
  top: 21%;
  left: 29%;
  z-index: 2;
}

#standSecondOneLockBack {
  height: 16%;
  width: 22%;
  top: 15%;
  left: 41%;
}

#standSecondTwoLockFront {
  height: 41%;
  width: 17%;
  top: 24%;
  left: 60%;
  z-index: 3;
  transform: scaleX(-1.5);

}

#standSecondTwoLockBack {
  height: 16%;
  width: 14%;
  top: 16%;
  left: 48%;
  transform: scaleX(-1.5);
}

#capilRisefinal {
  height: 25.2%;
  width: 16.8%;
  top: 39%;
  left: 34%;
  z-index: 15;
  display: none;

}

#zoomOutImgOne {
  height: 59%;
  left: 57%;
  top: 16%;
  z-index: 100;
  overflow: hidden;
  width: 40%;
  border-radius: 22%;
  background-color: brown;
  display: none;

}

#BackScaleOne {
  height: 95%;
  left: 2%;
  width: 22%;
  top: 3%;

}

#FrontScaleOne {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  overflow: hidden;
  transform: rotateY(180deg);
}

#ScaleOne {
  width: 76%;
  height: 900%;
  left: 25%;
  top: -88%;
  overflow: hidden;
}

#scalevalOne {
  height: 75%;
  width: 72%;
  left: 24%;
  overflow: hidden;
  top: 13%;
}

#radiusOneVal {
  left: 21%;
  top: 3%;
  font-size: 1vw;
  height: 7%;
  text-align: center;
  width: 53%;
  color: #DBDBDB;

}

#heightCalcValueRad {
  position: absolute;
  width: 51%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
  color: #DBDBDB;
}

/* ////////////////TWO/////////////// */
#zoomOutImgTwo {
  height: 59%;
  left: 57%;
  top: 16%;
  z-index: 100;
  overflow: hidden;
  width: 40%;
  border-radius: 22%;
  background-color: brown;
  display: none;

}

#BackScaleTwo {
  height: 95%;
  left: 2%;
  width: 22%;
  top: 3%;

}

#FrontScaleTwo {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  overflow: hidden;
  transform: rotateY(180deg);
}

#ScaleTwo {
  width: 76%;
  left: 24%;
  height: 900%;
  top: 0%;
  overflow: hidden;
}

#scalevalTwo {
  height: 75%;
  width: 72%;
  left: 24%;
  overflow: hidden;
  top: 13%;
}

#radiusTwoVal {
  left: 21%;
  top: 3%;
  font-size: 1vw;
  height: 7%;
  text-align: center;
  width: 53%;
  color: #DBDBDB;

}

#heightCalcValueRadOne {
  position: absolute;
  width: 51%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
  color: #DBDBDB;
}

/* ////////////////THREE/////////////// */
#zoomOutImgThree {
  height: 59%;
  left: 57%;
  top: 16%;
  z-index: 100;
  overflow: hidden;
  width: 40%;
  border-radius: 22%;
  background-color: brown;
  display: none;

}

#BackScaleThree {
  height: 95%;
  left: 2%;
  width: 22%;
  top: 3%;

}

#FrontScaleThree {
  height: 100%;
  width: 100%;
  left: -21%;
  top: 0%;
  overflow: hidden;
  transform: rotateY(180deg);
}

#ScaleThree {
  width: 76%;
  left: 24%;
  height: 900%;
  top: 0%;
  overflow: hidden;
}

#scalevalThree {
  height: 75%;
  width: 72%;
  left: 24%;
  overflow: hidden;
  top: 13%;
}

#radiusThreeVal {
  left: 21%;
  top: 3%;
  font-size: 1vw;
  height: 7%;
  text-align: center;
  width: 53%;
  color: #DBDBDB;
}

#heightCalcValueRadTwo {
  position: absolute;
  width: 51%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
  color: #DBDBDB;
}

/* ////////////////FOUR/////////////// */
#zoomOutImgFour {
  height: 59%;
  left: 57%;
  top: 16%;
  z-index: 100;
  overflow: hidden;
  width: 40%;
  border-radius: 22%;
  background-color: brown;
  display: none;

}

#BackScaleFour {
  height: 95%;
  left: 2%;
  width: 22%;
  top: 3%;

}

#FrontScaleFour {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  overflow: hidden;
  transform: rotateY(180deg);
}

#ScaleFour {
  width: 76%;
  left: 24%;
  height: 900%;
  top: 0%;
  overflow: hidden;
}

#scalevalFour {
  height: 75%;
  width: 72%;
  left: 24%;
  overflow: hidden;
  top: 13%;
}

#radiusFourVal {
  left: 21%;
  top: 3%;
  font-size: 1vw;
  height: 7%;
  text-align: center;
  width: 53%;
  color: #DBDBDB;

}

#heightCalcValueRadThree {
  position: absolute;
  width: 51%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
  color: #DBDBDB;
}


/* ////////////////FIVE/////////////// */
#zoomOutImgFive {
  height: 59%;
  left: 57%;
  top: 16%;
  z-index: 100;
  overflow: hidden;
  width: 40%;
  border-radius: 22%;
  background-color: brown;
  display: none;

}

#BackScaleFive {
  height: 95%;
  left: 2%;
  width: 22%;
  top: 3%;

}

#FrontScaleFive {
  height: 100%;
  width: 96%;
  left: -14%;
  top: 0%;
  overflow: hidden;
  transform: rotateY(180deg);
}

#ScaleFive {
  width: 76%;
  left: 24%;
  height: 900%;
  top: 0%;
  overflow: hidden;
}

#scalevalFive {
  height: 75%;
  width: 72%;
  left: 24%;
  overflow: hidden;
  top: 13%;
}

#radiusFiveVal {
  left: 21%;
  top: 3%;
  font-size: 1vw;
  height: 7%;
  text-align: center;
  width: 53%;
  color: #DBDBDB;

}

#heightCalcValueRadFour {
  position: absolute;
  width: 51%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
  color: #DBDBDB;
}

/* ////////////////SIX/////////////// */
#zoomOutImgSix {
  height: 59%;
  left: 57%;
  top: 16%;
  z-index: 100;
  overflow: hidden;
  width: 40%;
  border-radius: 22%;
  background-color: brown;
  display: none;

}

#BackScaleSix {
  height: 95%;
  left: 2%;
  width: 22%;
  top: 3%;

}

#FrontScaleSix {
  height: 100%;
  width: 80%;
  left: -32%;
  top: 0%;
  overflow: hidden;
  transform: rotateY(180deg);
}

#ScaleSix {
  width: 76%;
  left: 24%;
  height: 900%;
  top: 0%;
  overflow: hidden;
}

#scalevalSix {
  height: 75%;
  width: 72%;
  left: 24%;
  overflow: hidden;
  top: 13%;
}

#radiusSixVal {
  left: 21%;
  top: 3%;
  font-size: 1vw;
  height: 7%;
  text-align: center;
  width: 53%;
  color: #DBDBDB;

}

#heightCalcValueRadFive {
  position: absolute;
  width: 51%;
  height: 100%;
  font-size: 1vw;
  text-align: center;
  color: #DBDBDB;
}