#hello1 {
    z-index: 100;
    width: 100px;
    height: 100px;
    background-color: red;
  }
  
  #wireThickness {
    z-index: 100;
  
  }
  
  #wireTurns {
    z-index: 100;
  
  
  }
  
  .button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button1 {
    background-color: #E4E6EF;
  }
  
  #check {
    height: 16px;
    width: 16px;
    top: 60px;
    left: 359px;
    cursor: pointer;
    position: absolute;
  }
  
  #text {
    margin-bottom: 26rem;
    margin-top: -436px;
    margin-left: 388px;
    font-weight: bold;
  
  }
  
  h5 {
    margin-bottom: 9px;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  select {
    margin-left: 40px;
    width: 100px;
  }
  
  #reset {
    margin-left: 16px;
  }
  
  #boltArea {
    width: 100px;
    height: 100px;
    position: absolute;
    border-color: black;
  }
  
  #thermocol {
    width: 221px;
    height: 101px;
    left: 244px;
    top: 220px;
    position: absolute;
  }
  
  #wireBoltBat {
    left: 86px;
    top: 54px;
    width: 65px;
    height: 113px;
    position: absolute;
    display: none;
  
  }
  
  #wireBoltPin {
    left: 85px;
    top: 184px;
    width: 226px;
    height: 87px;
    position: absolute;
    display: none;
  }
  
  #wirePinBat1 {
    left: 225px;
    top: 153px;
    width: 252px;
    height: 122px;
    position: absolute;
    display: none;
  }
  #wirePinBat2 {
    left: 298px;
    top: 148px;
    width: 203px;
    height: 127px;
    position: absolute;
    display: none;
  
  }
  #wirePinBat3{
    left: 368px;
    top: 154px;
    width: 135px;
    height: 122px;
    position: absolute;
    display: none;
  
  }
  
  
  #wirePinBat4 {
    left: 342px;
    top: 157px;
    width: 199px;
    height: 122px;
    position: absolute;
    display: none;
  }
  
  #pushPin1 {
    left: 277px;
    top: 215px;
    position: absolute;
  }
  
  #pushPin2 {
    left: 336px;
    top: 214px;
    position: absolute
  }
  
  #safetyPin {
    left: 307px;
    top: 247px;
    width: 69px;
    height: 15px;
    position: absolute;
    transform: rotate(-17deg);
  }
  
  #thickCopperwire {
    left: 71.6px;
    top: 54px;
    position: absolute;
  
  }
  
  #thinCopperwire {
    position: absolute;
    top: 56px;
    left: 85px;
    display: none;
  
  }
  
  #copper20 {
  
    position: absolute;
  
  
  }
  
  #copper40 {
  
    position: absolute;
    display: none;
  
  }
  
  #copper60 {
  
    position: absolute;
    display: none;
  
  }
  
  #thinCopper20 {
  
    position: absolute;
    width: 11px;
    height: 123px;
  
  }
  
  
  
  #thinCopper40 {
  
    position: absolute;
    display: none;
    width: 11px;
    height: 123px;
  
  }
  
  #thinCopper60 {
  
    position: absolute;
    display: none;
    width: 11px;
    height: 123px;
  
  }
  
  #plateShadow {
    top: 42px;
    position: absolute;
  }
  
  #plate {
    position: absolute;
    left: 4px;
    top: 27px;
    width: 120px;
  
  
  }
  
  #nail70 {
    position: absolute;
    left: 18px;
    top: 36px;
    width: 93px;
    display: none;
  }
  #nail70In {
    position: absolute;
    left: 18px;
    top: 36px;
    width: 93px;
  
  }
  
  #attractArea {
    position: absolute;
    height: 125px;
    top: 160px;
    width: 140px;
    left: 28px;
  }
  
  #nailInplate {
    position: absolute;
    height: 15px;
    top: 243px;
    width: 25px;
  }
  
  #thickBolt {
    left: 64px;
    top: 32px;
    position: absolute;
  }
  
  #thinBolt {
    left: 81px;
    top: 32px;
    width: 19px;
    height: 162px;
    position: absolute;
    display: none;
  
  
  }
  
  #plasticPipe {
    left: 73px;
    top: 32px;
    position: absolute;
    display: none;
  
  }
  
  #batteryStart {
    left: 147px;
    top: 147px;
    width: 78px;
    position: absolute;
  }
  
  #battery2 {
  
    left: 219px;
    top: 147px;
    width: 78px;
    position: absolute;
  
  
  }
  
  #battery3 {
    left: 292px;
    top: 147px;
    width: 78px;
    position: absolute;
    display: none;
  
  }
  
  #battery4 {
    left: 364px;
    top: 148px;
    width: 78px;
    position: absolute;
    display: none;
  
  }
  
  #battery5 {
    left: 436px;
    top: 148px;
    width: 78px;
    position: absolute;
    display: none;
  
  }
  
  #boltTop {
    left: 80px;
    top: 32px;
    width: 36px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    height: 54px;
  }
  
  #boltHelp {
    left: 80px;
    top: 32px;
    width: 36px;
    position: absolute;
    z-index: 100;
    height: 54px;
    display: none;
  }
  
  #boltBottom {
    left: 80px;
    top: 156px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 37px;
    height: 38px;
  
  }
  
  #batteryBegin {
    left: 147px;
    top: 147px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 35px;
    height: 27px;
  
  }
  
  #batteryEnd {
    top: 152px;
    left: 285px;
    position: absolute;
    cursor: pointer;
  }
  
  #batteryEnd1 {
  
    left: 261px;
    top: 147px;
    z-index: 100;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 27px;
  }
  
  #batteryEnd2 {
    display: none;
  
    top: 145px;
    left: 331px;
    z-index: 100;
    position: absolute;
    width: 35px;
    height: 27px;
    cursor: pointer;
    ;
  }
  
  #batteryEnd3 {
    left: 407px;
    top: 146px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 35px;
    height: 27px;
    display: none;
  
  }
  
  #batteryEnd4 {
    left: 477px;
    top: 147px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 35px;
    height: 27px;
    display: none;
  
  }
  
  #switchLeft {
    left: 287px;
    top: 221px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 45px;
    height: 32px;
  }
  
  #switchRight {
  
  
    left: 348px;
    top: 221px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    width: 42px;
    height: 25px;
  }
  
  #connectionDrawing {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }
  
  #nailStick {
    top: 188px;
    left: 52px;
    position: absolute;
    z-index: 0;
   
    display: none;
  }
  .nailStick40{
    position: absolute;
    z-index: 100;
    margin-top: -261px;
    width: 29px;
    height: 38px;
    margin-left: -2px;
  }
  .nailStick45{
    position: absolute;
    z-index: 100;
    width: 29px;
    height: 38px;
    margin-top: -261px;
    margin-left: -2px;
  }
  .nailStick30{
    position: absolute;
    width: 29px;
    height: 38px;
    z-index: 100;
    margin-top: -261px;
    margin-left: -2px;
  }
  .nailStick35{
    position: absolute;
    z-index: 100;
    width: 29px;
    height: 38px;
    margin-top: -261px;
    margin-left: -2px;
  }
  .nailStick25{
    position: absolute;
    z-index: 100;
    width: 29px;
    height: 38px;
    margin-top: -261px;
    margin-left: -2px;
  }
  .nailStick20{
    position: absolute;
    z-index: 100;
    margin-top: -50px;
    width: 29px;
    height: 38px;
    margin-left: -2px;
  }
  #nailStickfew {
    top: 188px;
    left: 52px;
    position: absolute;
    z-index: 100;
   
    display: none;
  }
  #nailStick15 {
       left: 3px;
    top: 0px;
    position: absolute;
    z-index: 100;
  }
  #nailStick10 {
    left: 21px;
    top: 0px;
    position: absolute;
    z-index: 100;
  }
  #nailStick5 {
    left: 21px;
    top: 0px;
    position: absolute;
    z-index: 100;
  }
  #nailStick4 {
    left: 21px;
    top: 0px;
    position: absolute;
    z-index: 100;
  }
  #nailStick2 {
    left: 21px;
    top: 0px;
    position: absolute;
    z-index: 100;
  }
  
  #nailsLeft {
    position: absolute;
    left: 53px;
    top: 224px;
    width: 93px;
    display: none;
  
  }
  #nail60{
    position: absolute;
  }
  #nail55{
    position: absolute;
  }
  #nail50{
    position: absolute;
  }
  #nail45{
    position: absolute;
  }
  #nail40{
    position: absolute;
  }
  #nail35{
    position: absolute;
  }
  #nail30{
    position: absolute;
  }
  #nail25{
    position: absolute;
  }
  #inferenceImg {
    cursor: pointer;
    position: absolute;
    top: 13px;
    left: 225px;
    display: none;
  }
  
  
  #batPin {
    position: absolute;
    top: 152px;
    left: 365px;
    width: 50px;
    height: 51px;
  }
  
  #circuitDiagram {
    position: absolute;
    background-color: #ECECEC;
    opacity: 0.9;
    width: 562px;
    height: 337px;
    display: none;
    left: 0px;
    top: 0px;
  }
  #circuitDiagraml {
    position: absolute;
    background-color: #ECECEC;
    opacity: 0.9;
    width: 562px;
    height: 337px;
    display: none;
    left: 0px;
    top: 0px;
  }
  
  #canvasBox,img,.controlHolder,.footer{
  
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  
  }
  #canvasBox,img,.controlHolder,.footer{
  -webkit-user-drag: none;
  -khtml-user-drag:none;
  -moz-user-drag:none;
  -ms-user-drag:none;
  
  }
  