@font-face {
	font-family: MRKGPEN;
	src: url(MRKGPEN.TTF);
}
.userSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.main {
	overflow: hidden;
}
.subButton {
    width: 129px;
	}
.varResult {
	padding: 5px 0px 10px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: 600;
	color: #000;
	text-align: left;
}
#sliderspan{

margin-left: -9px;
}
#mainDiv {
	width: 570px;
	height: 340px;/*border:#000 2px solid;*/
}
/*control section*/
#rightminvals, #rightminvals1, #rightminvals2 {
	float: left;
	padding-left: 14px;
}
#rightmaxvals, #rightmaxvals1, #rightmaxvals2 {
	float: right;
	padding-right: 37px;
}
#answer {
	margin: 9px 0px 0px 6px;
}
#answerLabel {
	padding: 8px 0px 0px 0px;
}
#resultLabel {
	padding: 4px 0px 0px 2px;
}/*canvas section*/
#bg1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 561px;
	height: 342px;
	background-image: -ms-linear-gradient(bottom, #334968 0%, #859BC0 100%);
	background-image: -moz-linear-gradient(bottom, #334968 0%, #859BC0 100%);
	background-image: -o-linear-gradient(bottom, #334968 0%, #859BC0 100%);
	background-image: -webkit-linear-gradient(bottom, #334968 0%, #859BC0 100%);
	background-image: linear-gradient(to top, #334968 0%, #859BC0 100%);
}
#arrow_img {
	position: absolute;
	width: 225px;
	height: 38px;
	top: 50px;
	left: 95px;
	opacity: 0.6;
}
#arrow_img2 {
	position: absolute;
	top: 249px;
	left: 121px;
	opacity: 0.6;
}
#heading_txt {
	position: absolute;
	top: 0px;
	left: 106px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	font-size: 15px;
}
#heading_txt1 {
	text-align: center;
	position: absolute;
	top: 146px;
	left: 344px;
	font-weight: bold;
	color: #FFF;
	font-size: 15px;
}
#h3_hr {
	position: absolute;
	border: 1px dashed #FFF;
	width: 102px;
	top: 38px;
	left: 45px;
}
#h4_hr {
	position: absolute;
	border: 1px dashed #FFF;
	width: 105px;
	top: 114px;
	left: 44px;
}
#apparatus {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 245px;
	height: 333px;/*	border: 1px solid #F00;*/
}
#arrow_mark {
	position: absolute;
	top: 44px;
	left: 82px;
}
#arrow_mark img {
	width: 23px;
	height: 78px;
	opacity: 0.7
}
#arrow_txt {
	position: absolute;
	top: 65px;
	left: 90px;
	font-weight: bold;
	color: #FFF;
}
#Youngs_top {
	position: absolute;
	top: 3px;
	left: 37px;
}
#Youngs_leftFrame {
	position: absolute;
	top: 124px;
	left: 30px;
}
#Youngs_rightFrame {
	position: absolute;
	top: 124px;
	left: 118px;
}
#Hanging_right {
	position: absolute;
	top: 180px;
	left: 20px;
	width: 22px;
	height: 12px;
	overflow: hidden;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 4px;
}
#rightFrame {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 99;
}
#Youngs_crossrod1 {
	position: absolute;
	top: 180px;
	left: 53px;/*	border:1px solid green;*/
}
#air_bubble {
	position: absolute;
	top: 26px;
	left: 39px;
}
#crossrod1 {
	top: 0px;
	left: 0px;
}
#arrow_rightdumm{
  position: absolute;
  top: 302px;
  left: 516px;
  
  width: 18px;
  height: 29px;
}
#arrow_right {
	position: absolute;
	top: 302px;
	left: 516px;
}
#arrow_left {
	position: absolute;
	top: 302px;
	left: 481px;
}
#arrow_Leftdumm{
	position: absolute;
	top: 302px;
	left: 481px;
	
  width: 18px;
  height: 29px;
}
.arrow_size {
	width: 20px;
	height: 29px;
}
#wires_div {
	position: absolute;
	top: 34px;
	left: 45px;
	width: 2px;
	height: 100px;
	background: black;
	border-radius: 5px;
}
#wires_div_right {
	position: absolute;
	top: 34px;
	left: 146px;
	width: 2px;
	height: 100px;
	background: black;
}
#zoombox1 {
	top: 3px;
	left: 226px;
	position: absolute;
	width: 312px;
	height: 121px;
	border: #A6A5A5 2px solid;
	border-radius: 6px;
	overflow: hidden;
}
#zoom_rod {
  margin: 12px 0px 0px 0px;
/*  margin: 26px 18px 4px 6px;*/


}
#rods_zoom {
	position: absolute;
	top: 0px;
	left: -280px;
}
#zoom_bubble {
	position: absolute;
	top: 15px;
	left: 118px;
}
#back_portion {
	position: absolute;
	top: 0px;
	left: 231px;
}
.center_point {
	position: absolute;
	width: 0px;
}
#center_point1 {
	top: 17px;
	left: 149px;
	height: 5px;
	border: #fff 2px solid;
}
#center_point2 {
	top: 30px;
	left: 41px;
	height: 0px;
	border: #fff 1px solid;
}
#zoombox2 {
	top: 142px;
	left: 226px;
	position: absolute;
	width: 312px;
	height: 190px;
	border: #A6A5A5 2px solid;
	border-radius: 6px;
	overflow: hidden;
}
#scales_both {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 312px;
	height: 190px;
}
#scalebig {
	position: absolute;
	top: -146px;
	left: 0px;
}
#zoomscircle {
	position: absolute;
	top: 19px;
	left: -130px;
	width: 442px;
	height: 355px;
	overflow: hidden;
}
#black_mark {
	position: absolute;
	top: 138px;
	left: 226px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 8px solid white;
	border-bottom: 5px solid transparent;
}
#boxss {
	position: absolute;
	top: 0px;
	left: 7px;
}
.deform {
	width: 283px;
	height: 286px;
	-webkit-transform: scaleX(2.0);
	-moz-transform: scaleX(2.0);
	-ms-transform: scaleX(2.0);
	-o-transform: scaleX(2.0);
	transform: scaleX(2.0);
	position: absolute;
	top: 0px;
	left: 368px;
	overflow: hidden;
	border-radius: 50%;
	backface-visibility: hidden;
}
.rotate {
	-webkit-transform: rotateZ(229deg);
	-moz-transform: rotateZ(229deg);
	-ms-transform: rotateZ(229deg);
	-o-transform: rotateZ(229deg);
	transform: rotateZ(229deg);
}
#scale {
	width: 283px;
	height: 286px;
}
