/** control.php */
#container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 570px;
    height: 337px;
    overflow: hidden;
    background: #FFF;
    opacity: 0.99;
}
.subButton {
    margin-left: 23px !important;
    width: 131px !important;
}
.dropBox{
   margin: 4px 0px 4px 12px !important;
}
.rangeSlider{
    margin: 4px 0px 0px 12px !important;
}
.varTitle{
   padding: 2px 0px 0px 24px !important;
} 
#object_pointer_min {
    margin-left: 9px;
}
#object_pointer_max {
   margin-left: 83px;
}
#user_view_left {
    margin-left: -10px;
}
#user_view_center {
   margin-left: 2px;
}
#user_view_right {
    margin-left: 0px;
}
.varResult {
    padding: 5px 0px 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #000;
    text-align: left;
}
#result,#liquids,#refractive_index_result,#radius_curvature {
    display: none;
}
/** canvas.php */
#liquid{
    position: absolute;
    top: 320px;
    left: 333px;
    display: none;
}
#lens{
    position: absolute;
    top: 321px;
    left: 334px;
}
#stand{
    position: absolute;
    top: 270px;
    left: 223px;
}
#lens_zoom{
   position: absolute;
   top: 144px;
   left: 394px;
}
#liquid_zoom{
   position: absolute;
   top: -18px;
   left: -10px;
   display: none;
}
#zoom_scale_div{
   position: absolute;
   top: 139px;
   left: 22px;
   width: 147px;
   height: 183px;
   border-radius: 5px;
   border: solid #8A8985;
   background-color: #7A7861;
   overflow: hidden;
}
#scale_zoom{
   position: absolute;
   top: -3142.5px;
   left: -39px;
}
#arrow_zoom{
  position: absolute;
  top: 80px;
  left: 121px;
}
#arrow{
   position: absolute;
   top: 294px;
   left: 221px;
   width: 10px;
}
#pin_zoom_div{
   position: absolute;
   top: 151px;
   left: 396px;
   width: 142px;
   height: 131px;
   border-radius: 142px;
   overflow: hidden;
}
#pin_zoom_right{
   position: absolute;
   top: 0px;
   left: 53px;
    width:160px;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
   transform-origin:  0% 0%;
   display: none;
}
#pin_zoom_left{
   position: absolute;
   top: 58px;
   left: -80px;
   width:160px;
   -ms-transform: rotate(180deg);  /* IE 9 */    
    -webkit-transform: rotate(180deg);  /*  Chrome, Safari, Opera */    
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);/* firfox */
}
#line_canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    border: solid;
}
#head{
   position: absolute;
   top: -113px;
    left: 320px;
    width:210px;
}