#bg{
    width: 100%;
    height: 100%;
}
#screen1{
    width: 100%;
    height: 100%;
}
#digitalmeter{
    position: absolute;
    width: 18%;
    top: 47%;
    left: 9%;
    height: 32%;
}
.userSelect,#mainDiv,.sim-footer div,.sim-body{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}
#mainDiv,img,.sim-buttons{
    
    -webkit-user-drag: none;
    -khtml-user-drag:none;
    -moz-user-drag:none;
    -ms-user-drag:none;
}
#multimeter{
    position: absolute;
    width: 16%;
    height: 46%;
    top: 45%;
    left: 65%;
}
#ammeter{
    position: absolute;
    width: 23%;
    height: 42%;
    top: 51%;
    left: 5%;
}
#switch{
    position: absolute;
    width: 22%;
    height: 21%;
    top: 16%;
    left: 63%;
}
#key{
    position: absolute;
    width: 5%;
    height: 8%;
    top: 45%;
    left: 86%;
}
#cell{
    /* position: absolute;
    width: 24%;
    height: 28%;
    top: 9%;
    left: 1%; */
    position: absolute;
    width: 26%;
    height: 23%;
    top: 13%;
    left: 10%;
}
#rh{
    position: absolute;
    width: 28%;
    height: 18%;
    top: 40%;
    left: 27%;
}
#wire1{
    position: absolute;
    width: 11%;
    height: 51%;
    top: 30%;
    left: 6%;
    display: none;
}
#wire2{
    position: absolute;
    width: 12%;
    height: 29%;
    top: 52%;
    left: 20%;
    display: none;
}
#wire3{
    position: absolute;
    width: 52%;
    height: 13%;
    top: 23%;
    left: 18%;
    display: none;
}
#wire4{
    position: absolute;
    width: 27%;
    height: 20%;
    top: 25%;
    left: 53%;
    display: none;
}
#wire5{
    position: absolute;
    width: 56%;
    height: 13%;
    top: 79%;
    left: 19%;
    display: none;
}
#wire6{
    position: absolute;
    width: 77%;
    height: 18%;
    top: 79%;
    left: 8.7%;
    display: none;
}
#circuitDiagram{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}
#checkCir{
    height: 6%;
    top: 1%;
    width: 3%;
    left: 3%;
    cursor: pointer;
    position: absolute;
    z-index: 5;
}
#label{
    position: absolute;
    top: 2%;
    left: 8%;
    width: 45%;
    font-weight: bold;
    text-align: left;
    font-size: 0.9vw;
}
#connectionCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.terminal{
    width: 5%;
    height: 5%;
    cursor: pointer;
    border-radius: 50%;
    background-color:red;
    opacity: 0;
  }
  #cellPositive{
    position: absolute;
    top: 29%;
    left: 16%;
    width: 2%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
  }
  #ammeterPositive{
    position: absolute;
    top: 74%;
    left: 10%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
  }
  #ammeterNegative{
    position: absolute;
    top: 74%;
    left: 19%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
  }
  #rhLowerend{
    position: absolute;
    top: 52%;
    left: 32%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
  }
  #cellNegative{
    position: absolute;
    top: 29%;
    left: 18%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
  }
  #switchLeft{
    position: absolute;
    top: 23%;
    left: 69%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
  }
  #switchRight{
    position: absolute;
    top: 23%;
    left: 79%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
  }
  #rhUpperend{
    position: absolute;
    top: 40%;
    left: 54%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
}
#ammeterNegative2{
    position: absolute;
    top: 77%;
    left: 20%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
}
#mutimeterNegative{
    position: absolute;
    top: 80%;
    left: 74%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
}
#ammeterPositive2{
    position: absolute;
    top: 78%;
    left: 11%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
}
#mutimeterPositive{
    position: absolute;
    top: 80%;
    left: 78%;
    width: 3%;
    height: 6%;
    cursor: pointer;
    z-index: 5;
}
.flexbox{
    display: flex;
}
.leftVal{
    flex:1;
}
#rhSliderPosition{
    width: 94%;
}
#rhSliderPosition2{
    width: 94%;
    display: none;
}
#controlDiv1{
    margin-top: 7%;
  }
#arrow{
    position: absolute;
    width: 1%;
    height: 9%;
    top: 62%;
    left: 16%;
    transform: rotate(280deg);
    transform-origin: bottom;
}
#NeedleTop{
    position: absolute;
    top: 70%;
    left: 15%;
    width: 2%;
    height: 3%;
    z-index: 1;
}
#rheo_move{
    position: absolute;
    top: 36%;
    left: 46%;
    width: 5%;
    height: 13%;
    z-index: 1;
}
#check{
    width: 78%;
    padding-bottom: -2%;
    margin-top: 15%;
    margin-left: 5%;
}
#check2{
    width: 78%;
    padding-bottom: -2%;
    margin-top: 15%;
    margin-left: 5%;
    display: none;
}
#digitalValue0{ 
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#digitalValue1{
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#digitalValue2{
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#digitalValue3{
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#digitalValue4{
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#digitalValue5{
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#digitalValue6{
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#digitalValue7{
    position: absolute;
    width: 11%;
    height: 4%;
    top: 50%;
    left: 69%;
    display: none;
}
#keyDropArea1{
    position: absolute;
    width: 19%;
    height: 14%;
    top: 19%;
    left: 64%;
}
#showResult{
    margin-top: 4%;
    font-size: 1vw;
  }
  #tableResult{
    display: none;
    margin-left: 1%;
    font-size: 1vw;
    margin-top: 5%;
  }
  #v1,#v2,#v3{
    font-size: 1vw;
  }
.nextbutton{
position: absolute;
top: 1%;
left: 80%;
width: 11%;
height: 7%;
font-size: 1vw;
font-weight: bold;
padding-bottom: 0.6%;
background-color: #2f2626;
color: #fff;
border: 0px solid;
text-align: center;
border-radius:10px; 
z-index: 5;
}
.nextbutton:hover {
    background-color:#52aece;
    transition: 0.7s;
}
#nextbutton{
    display: none;
}
#nextbutton2{
    display: none;
    top: 93%;
    left: 85%;
}
#nextbutton3{
    display: none;
}
#inference{
    position: absolute;
    left: 87%;
    top: 2%;
    z-index: 5;
    display: none;
    cursor: pointer;
  }
  #table1{
    position: absolute;
    top: 12%;
    left: 1%;
    display: none;
  }
  #table2{
    position: absolute;
    top: 12%;
    left: 1%;
    display: none;
  }
  #table1Div{
    width: 100%;
    height: 100%;
    display: none;
  }
  #observation1{
    position: absolute;
    height: 92%;
    top: 0%;
    width: 100%;
    border: solid;
    font-size: 1vw;
    background-color: #f3fad7;
  }
  #table2Div{
    width: 100%;
    height: 100%;
    display: none;
  }
  #observation2{
    border: solid;
    height: 100%;
    top: 0%;
    width: 100%;
    position: absolute;
    font-size: 1vw;
    background-color: #f3fad7;
  }
  td {
    text-align: left;
  }
#labelDiv1{
    width: 100%;
    height: 10%;
    top: -1%;
    margin-top: -62%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3vw;
    font-weight: bolder;
    color: white;
    display: none;
}
#labelDiv2{
    width: 100%;
    height: 10%;
    top: -1%;
    margin-top: -62%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.3vw;
    font-weight: bolder;
    color: white;
    display: none;
}
th {
    text-align: left;
    width: 59%;
}


