@font-face {
	font-family:MRKGPEN;
	src:url(MRKGPEN.TTF);
}
.varTitle{
font-size: 1.6vw;
}
.userSelect {
 -webkit-user-select:none;
 -khtml-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select: none;
}
img{
    -webkit-user-drag: none;
    -khtml-user-drag:none;
 -moz-user-drag:none;
 -ms-user-drag:none;
}

.main p {
	overflow: visible;
}

/************* question style ***************/
.questionLayout {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(36 14 66);
    top: 0%;
    z-index: 1000;
}
.questionNumber
{
    position: absolute;
    width: 100%;
    height: 12%;
    background-color: #c0c1c900;
    top: 2%;
    /* border-bottom: solid #ffffff75; */
}
.questionNumberTestDesign
{
    position: absolute;
    color: #fbfbfb8f;
    font-size: 1.8vw;
    top: 20%;
    left: 3%;
    font-family: 'Inconsolata';
}
.questionNumberScoreDesign
{
    position: absolute;
    color: #fbfbfb8f;
    font-size: 1.8vw;
    top: 20%;
    left: 88%;
    font-family: 'Inconsolata';
}
.questionText
{
    position: absolute;
    color: #cac9cbb3;
    top: 18%;
    left: 3%;
    /* background-color: rgb(36, 14, 66); */
    width: 94%;
    height: 12%;
}
.questionTextAlignment
{
    position: absolute;
    width: 98%;
    height: 75%;
    top: 11%;
    left: 2%;
    font-size: 1.5vw;
    color: #fcf8f8;
    text-align: justify;
    line-height: 1.3;
    cursor: not-allowed;
}
.OptionOne
{
    position: absolute;
    border: solid 2px #35aad3c7;
    top: 34%;
    width: 88%;
    height: 11%;
    left: 5%;
    border-radius: 10px;
    cursor: pointer;
}
.OptionTwo
{
    position: absolute;
    border: solid 2px #35aad3c7;
    top: 48%;
    width: 88%;
    height: 11%;
    left: 5%;
    border-radius: 10px;
    cursor: pointer;
}
.OptionThree
{
    position: absolute;
    border: solid 2px #35aad3c7;
    top: 62%;
    width: 88%;
    height: 11%;
    left: 5%;
    border-radius: 10px;
    cursor: pointer;
}
.OptionFour
{
    position: absolute;
    border: solid 2px #35aad3c7;
    top: 76%;
    width: 88%;
    height: 11%;
    left: 5%;
    border-radius: 10px;
    cursor: pointer;
}
.optionTestDesign {
    position: absolute;
    color: #ffffff;
    font-size: 1.5vw;
    top: 20%;
    left: 5%;
}
.optionNo
{
    padding-right: 7px;
}
/************* question style ***************/
.QuestionDisplayMainDiv
{
    background-color: rgba(18, 62, 75, 0.966);
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px black;
    overflow: auto;
    font-family: 'Inconsolata';
    position: absolute;
    z-index: 10000;
    top: 0%;
}
.QuestionNumber
{
    /* border: solid 1px black; */
    font-size: 1.2vw;
    color: white;
    float: left;
    margin-left: 5px;
}
.QuestionScore
{
    font-size: 1.2vw;
    color: white;
    float: right;
    margin-right: 5px;
}
.QuestionHeading
{
    background-color: #ffffff2b;
    padding: 10px;
}
.borderRadiustwo
{
    border-radius: 2px;
}
.borderRadius
{
    border-radius: 5px;
}
.white
{
    color: white;
}
.fontAndBackground1
{
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.221);
    padding: 10px;
}
.fontAndBackground1:hover
{
    background-color: rgba(49, 47, 47, 0.635);
    cursor: no-drop;
}
.fontAndBackground
{
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}
.fontAndBackground:hover
{
    background-color: rgba(49, 47, 47, 0.635);
    cursor: pointer;
}
.borderTop
{
    border-top: solid 1px white;
}
.borderTop2
{
    border-top: solid 4px rgba(18, 62, 75, 0.966);
}
.borderTopBottom
{
    border-top: solid 2px rgba(18, 62, 75, 0.966);
    border-bottom: solid 2px rgba(18, 62, 75, 0.966);
    /* margin-top: 5px;
    margin-bottom: 5px; */
}
.rowpaddingleft
{
    padding-left: 7%;
}
.centerClass
{
    text-align: center;
}
.imageDisplayAreaOnClick
{
    position: absolute;
    width: 93%;
    height: 85%;
    border: solid 1px #607D8B;
    left: 3%;
    top: 8%;
    border-radius: 5px;
    background-color: #607D8B;
    display: none;
}
.imageDisplayAreaOnClick_display
{
    position: absolute;
    width: 96%;
    height: 94%;
    border: solid 1px #607D8B;
    left: 2%;
    top: 3%;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: auto;
}
.Q_image_close {
    position: relative;
    cursor: pointer;
    z-index: 2;
    float: right;
    top: 0%;
    margin-top: -3%;
    margin-right: -2%;
    width: 5%;
}