.varBox,#bgCanvas1,#scene1,#scene2
{-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#bgCanvas1 {
    position: absolute;
    height: 360px;
}
.rangeSlider
{
    margin: 3px 0px 3px 15px;
    font-size: 11px;
}
#weighMachine {
    position: absolute;
    height: 82px;
    width: 125px;
    top: 162px;
    left: 42px;
}
#weighMachine2 {
    position: absolute;
    height: 82px;
    width: 125px;
    top: 162px;
    left: 42px;
}
#copper {
    position: absolute;
    height: 100px;
    width: 75px;
    top: 48%;
    left: 35%;
    z-index: 3;

}

#copperFront {
    position: absolute;
    top: 17px;
    left: 9px;
    width: 50px;
}

#copperBack {
    position: absolute;
    top: 14px;
    left: 9px;
    width: 50px;
}

#alumFront {
    position: absolute;
    top: 20%;
    left: 9px;
    width: 50px;
    display: none;
}

#alumBack {
    position: absolute;
    top: 14px;
    left: 9px;
    width: 50px;
    display: none;

}
#Stirrer {
    position: absolute;
    height: 100px;
    top: -22px;
    left: 15px;
}

#Stirrer1 {
    position: absolute;
    height: 100px;
    top: -17px;
    left: 16px;
    display: none;
}

#Water {
    position: absolute;
    height: 68px;
    width: 48px;
    top: 12px;
    left: 10px;
    display: none;

}

#instruction {
    text-decoration: underline;
    position: absolute;
    font-weight: bold;

}

#instruction1 {
    position: absolute;
    top: 37px;
}
#thermometer2 {
    position: absolute;
    top: 271px;
    left: 154px;
    height: 12px;
    width: 148px;
}

#calori {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 284px;
    top: 144px;
}

#caloriBody {
    position: absolute;
    height: 165px;
    width: 139px;
    top: -69px;
    left: -7px;
    z-index: 3;

}
#caloriBodyDown{
    position: absolute;
    height: 143px;
    width: 140px;
    top: -47px;
    left: -7px;
    z-index: 3;

        display: none;

}


#caloriTop {

    position: absolute;
    height: 22px;
    width: 91px;
    top: -3px;
    left: 12px;

}

#caloriTopHalf {
    position: absolute;
    height: 13px;
    width: 86%;
    top: 6px;
    left: 13px;
    z-index: 2;
}
#caloriTopClose {

    position: absolute;
    height: 22px;
    width: 91px;
    top: -3px;
    left: 12px;
    display: none;

}

#caloriTopHalfClose {
    position: absolute;
    height: 13px;
    width: 86%;
    top: 6px;
    left: 13px;
    z-index: 2;
    display: none;
}
#caloriBox {
    position: absolute;
    height: 95px;
    width: 100px;
    left: 12px;
    top: -7px;

}

#caloriHolderBack {
    position: absolute;
    height: 12px;
    width: 57px;
    left: 46px;
    top: -69px;

}

#caloriHolderDown {
    position: absolute;
    height: 12px;
    width: 81px;
    left: 5px;
    display: none;

}


#calori2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: -25%;
    top: 53%;
    display: none;
}

#caloriBody2{
    position: absolute;
    height: 165px;
    width: 139px;
    top: -69px;
    left: -7px;
    z-index: 3;

}
#caloriBodyDown2{
    position: absolute;
    height: 143px;
    width: 140px;
    top: -47px;
    left: -7px;
    z-index: 3;

        display: none;

}


#caloriTop2 {

    position: absolute;
    height: 22px;
    width: 91px;
    top: -3px;
    left: 12px;

}

#caloriTopHalf2 {
    position: absolute;
    height: 13px;
    width: 86%;
    top: 6px;
    left: 13px;
    z-index: 3;
}
#caloriTopClose2 {

    position: absolute;
    height: 22px;
    width: 91px;
    top: -3px;
    left: -49%;
    display: none;

}

#caloriTopHalfClose2 {
    position: absolute;
    height: 13px;
    width: 86%;
    top: 6px;
    left: -49%;
    z-index: 2;
    display: none;
}

#caloriBox2 {
    position: absolute;
    height: 95px;
    width: 100px;
    left: 12px;
    top: -7px;

}

#caloriHolderBack2{
    position: absolute;
    height: 12px;
    width: 57px;
    left: 46px;
    top: -69px;

}

#caloriHolderDown2 {
    position: absolute;
    height: 12px;
    width: 81px;
    left: 5px;
    display: none;

}

#beaker {
    position: absolute;
    height: 100px;
    width: 100px;
    left: 450px;
    top: 128px;
}

#beakerBody {

    position: absolute;
    height: 100px;
    left: -8px;

}

#beakerWater {
    position: absolute;
    width: 71px;
    height: 61px;
    top: 42px;
    left: 1px;

}
#beakerWaterLiquid {
    position: absolute;
    width: 71px;
    height: 61px;
    top: 42px;
    left: 1px;
    display: none;


}
#beaker1 {
   
    position: absolute;
    height: 20%;
    width: 16%;
    left: 73%;
    top: 33%;


}

#beakerBody1 {
    position: absolute;
    height: 128%;
    /* left: -14%; */
    /* top: -13%; */
    width: 94%;
}

#beakerWater1{
    position: absolute;
    width: 148%;
    height: 68%;
    top: 56%;
    left: -25%;
}


#scene1 {
    position: absolute;
 
    height: 335px;
    width: 558px;
}

#thermometer {
    position: absolute;
    top: 271px;
    left: 154px;
    height: 12px;
    width: 148px;
}

#thermometer1 {
    position: absolute;
    top: -38px;
    left: -20px;
    height: 16px;
    width: 156px;
    transform: rotate(-90deg);
    display: none;

}

.button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#text {
    position: absolute;
    font-weight: bold;
    left: 17%;
    margin-top: 3%;
    margin-left: 12%;

}

h5 {
    margin-bottom: 9px;
    margin-top: 10px;
    margin-left: 15px;
}

h4 {
    margin-bottom: 9px;
    margin-top: 10px;
    margin-left: 15px;
}

select {
    margin-left: 40px;
    width: 100px;
}

.line1 {
    position: absolute;
    height: 5%;
    width: 2px;
    top: 46%;
    left: 61.2%;
    background: red;
    z-index: 1;
    display: none;

}
#lineAni{
    position: absolute;
    height: 46%;
    width: 2px;
    top: 56%;
    left: -1%;
    background: black;
    z-index: 1;
}
#lineAni1{
    position: absolute;
    height: 265%;
    width: 2px;
    top: -28%;
    left: 31%;
    background: black;
    transform: rotate(90deg);
    z-index: 1;
}
#lineAni2{
    position: absolute;
    height: 83%;
    width: 2px;
    top: 66%;
    left: 16%;
    background: black;
    z-index: 1;
}
#lineAni3{
    position: absolute;
    height: 319%;
    width: 2px;
    top: -12%;
    left: 97%;
    background: black;
    transform: rotate(90deg);
    z-index: 2;
}
#arrow{
    position: absolute;
    height: 36%;
    top: 87%;
    left: 58%;
    width: 9%;
}
#arrow1{
    position: absolute;
    height: 25%;
    top: 136%;
    left: 176%;
    width: 9%;
}

#direct{
    position: absolute;
    width: 159%;
    height: 39%;
    left: -54%;
    top: -49%;
    display: none;
}
#direct1{
    position: absolute;
    width: 38%;
    height: 122%;
    left: 86%;
    top: 22%;
    display: none;
}
.line2 {
    position: absolute;
    height: 1px;
    width: 1px;
    top: 51%;
    left: 75.5%;
    background: red;
    /* z-index: 1; */

    display: none;

}
#next {
    position: absolute;
    top: -119%;
    width: 85px;
    left: 161%;
    background-color: #DBDBDB;
    border-radius: 5px;
    display: none;
}

#solidSelection {
    position: absolute;

}

#liquidSelection {
    position: absolute;
    display: none;

}
#reset1 {
    margin-top: 16%;
    font-size: 1vw;

}
#reset2{
    margin-top: 12%;
    font-size: 1vw;

}
#reset {
    margin-left: 5%;
    font-size: 1vw;
    display: none;
}
#reset4 {
    margin-left: 5%;
    display: none;
    font-size: 1vw;

}
#reset3 {
    margin-top: 0%;
    font-size: 1vw;
}
#reset5 {
    margin-top: 1%;
    font-size: 1vw;

    display: none;
}
#check {
    height: 16px;
    width: 16px;
    margin-top: 2%;
    margin-left: 11%;

    cursor: pointer;
    position: absolute;

}
#check1 {
    height: 16px;
    width: 16px;
    margin-top: 2%;
    margin-left: 10%;
  
    cursor: pointer;
    position: absolute;

}
#checkLiquid {
    height: 16px;
    width: 16px;
 
    cursor: pointer;
    position: absolute;
    left: 10%;
}
#checkLiquid1 {
    height: 16px;
    width: 16px;
    margin-top: 2%;
    margin-left: 10%;
 
    cursor: pointer;
    position: absolute;

}

#checkLiquid2 {
    height: 16px;
    width: 16px;
    margin-top: 2%;
    margin-left: 9%;

    cursor: pointer;
    position: absolute;

}
#check2 {
    height: 16px;
    width: 16px;
    margin-top: 2%;
    margin-left: 13%;
 
    cursor: pointer;
    position: absolute;

}
#weighDropArea {
    position: absolute;
    height: 134px;
    width: 163px;
    top: 47px;
    left: 17px;

}
#weighDropArea2 {
    position: absolute;
    height: 134px;
    width: 163px;
    top: 47px;
    left: 17px;
    display: none;

}
#threadArea {
    position: absolute;
    height: 34%;
    width: 30%;
    top: 42%;

    left: 43%;

}
#burnDropArea {
    position: absolute;
    height: 64%;
    width: 28%;
    top: 1%;
    left: 67%;

}

#Measuring_Jar_reading {
    position: absolute;
    top: 62.5%;
    left: 17%;
    width: 49px;
    height: 9px;
    color: rgb(128, 0, 0);
    font-size: 10px;
    float: right;
}
#Measuring_Jar_reading1{
    position: absolute;
    top: 62.5%;
    left: 17%;
    width: 49px;
    height: 9px;
    color: rgb(128, 0, 0);
    font-size: 10px;
    float: right;
    display: none;
}
#Measuring_Jar_icon1 {
    left: 23%;
    top: 62.1%;
    position: absolute;
    width: 4%;
}

#solidMaterial {
    position: absolute;
    left: 2px;
    display: none;
}
#liquidMaterial {
    position: absolute;
    left: 2px;
    display: none;
}

#resultData {
    position: absolute;
    left: 8px;
    overflow: hidden;
    font-size: 14px;
    font: small-caption;
    font-weight: revert;
    display: none;
}
#resultDataLiquid{
    position: absolute;
    left: 8px;
    overflow: hidden;
    font-size: 14px;
    font: small-caption;
    font-weight: revert;
    display: none;
}
#beakerDropArea {
    position: absolute;
    height: 42%;
    width: 37%;
    top: 1%;
    left: 1%;

}
#nameBoard
{
    position: absolute;
    left: 51%;
    top: 70%;
    width: 15%;
    height: 7%;
}
#nameBoard1
{
    position: absolute;
    left: 167%;
    top: 88%;
    width: 76%;
    height: 26%;
    display: none;
}
#nameBoard2
{
    position: absolute;
    left: 167%;
    top: 88%;
    width: 76%;
    height: 26%;
}
#waterpouring {
    position: absolute;
    left: 58.3%;
    height: 0%;
    top: -30%;
    width: 3px;
    display: none;
}

#caloriWater {
    position: absolute;
    width: 66%;
    left: 10%;
    top: 14%;
    display: none;
}
#caloriWaterAlum {
    position: absolute;
    width: 62%;
    left: 13%;
    top: 17%;
    display: none;
}
img{
    -webkit-user-drag: none;
    -khtml-user-drag:none;
 -moz-user-drag:none;
 -ms-user-drag:none;
 
}

#beakerBendWater {
    position: absolute;
    display: none;
    width: 99%;
    left: -27%;
    transform: rotate(33deg);
    height: 134%;
}

#caloriDropArea {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 74%;
    width: 26%;
    pointer-events: none;

}
#thermoDropArea {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 43%;
    width: 26%;

}
#caloriDropArea2 {
    position: absolute;
    top: 3%;
    left: 21%;
    height: 58%;
    width: 38%;

}
#copper1{
    position: absolute;
    height: 100px;
    width: 75px;
    top: 8%;
    left: 57%;
display: none;
}
#copper2 {
    position: absolute;
    height: 100px;
    width: 75px;
    top: 51%;
    left: -16%;
    z-index: 3;
    display: none;

}

#copperFront1{
    position: absolute;
    top: 17px;
    left: 9px;
    width: 50px;
}
#copperFront2{
    position: absolute;
    top: 17px;
    left: 9px;
    width: 50px;
}
#alumFront1{
    position: absolute;
    top: 19px;
    left: 9px;
    width: 50px;
    display: none;

}
#alumFront2{
    position: absolute;
    top: 19px;
    left: 9px;
    width: 50px;
    display: none;

}

#copperBack1 {
    position: absolute;
    top: 14px;
    left: 9px;
    width: 50px;
}
#copperBack2 {
    position: absolute;
    top: 14px;
    left: 9px;
    width: 50px;
}
#alumBack1 {
    position: absolute;
    top: 13px;
    left: 9px;
    width: 50px;
    display: none;

}
#alumBack2 {
    position: absolute;
    top: 14px;
    left: 9px;
    width: 50px;
    display: none;

}
#Stirrer2 {
    position: absolute;
    height: 100px;
    top: -22px;
    left: 15px;
}
#Stirrer3 {
    position: absolute;
    height: 100px;
    top: -32px;
    left: 15px;
}

#caloriWater1 {
    position: absolute;
    height: 68px;
    width: 48px;
    top: 12px;
    left: 10px;

}
#caloriWater2{
    position: absolute;
    height: 68px;
    width: 48px;
    top: 12px;
    left: 10px;

}
#alert{
    width: 25px;
    position: absolute;
    top: 11px;
    left: 14px;
}
#alertMsg{
    position: absolute;
    top: -77%;
    left: -268%;
    height: 44px;
    width: 278px;
    display: none;
    background-color: gainsboro;
    border-radius: 20px;
}
#alertText{
    position: absolute;
    top: 11px;
    height: 35px;
    left: 54px;
    width: 211px;
    font-size: 13px;

}
#alert{
    width: 25px;
    position: absolute;
    top: 11px;
    left: 14px;
}
#alert1{
    width: 25px;
    position: absolute;
    top: 11px;
    left: 14px;
}
#alertMsg1{
    position: absolute;
    top: 17%;
    left: 2%;
    height: 44px;
    width: 278px;
    background-color: gainsboro;
    border-radius: 20px;
    display: none;
}
#alertText1{
    position: absolute;
    top: 10px;
    height: 35px;
    left: 54px;
    width: 211px;
    font-size: 13px;

}
#burnerKnob{
    position: absolute;
    left: 87%;
    width: 1.6%;
    top: 73%;
}
#thread{
    position: absolute;
    left: 52%;
    height: 11%;
    width: 12%;
    top: 59%;

}
#liquidText{
    font-weight: bold;
    left: 189%;
    position: absolute;
    height: 15%;
    font-size: 103%;
    width: 47%;
    top: 95%;
    display: none;
}
#waterText{
    font-weight: bold;
    left: 189%;
    position: absolute;
    height: 15%;
    font-size: 103%;
    width: 47%;
    top: 95%;
}
#ThreadText{
    font-weight: bold;
    left: 55%;
    position: absolute;
    height: 11%;
    font-size: 103%;
    width: 12%;
    top: 72%;
}
#burnerTripod{
    position: absolute;
    height: 37%;
    left: 67.1%;
    top: 53%;
    width: 33.9%;
    transform: scaleX(-1);
    display: none;

}
#burnerOff2{
    position: absolute;
    height: 37%;
    left: 67.1%;
    top: 53%;
    width: 33.9%;
    transform: scaleX(-1);

}

#solidRot{
   
    position: absolute;
    top: 10%;
    left: -3%;
    height: 37%;
    width: 53%;
    transform: rotate(90deg);


}
#solidRotDiv{
    position: absolute;
    top: 40%;
    left: 16%;
    height: 22%;
    width: 13%;
    display: none;

}
#solid{
    position: absolute;
    top: 60%;
    left: 36%;
    height: 12%;
    width: 10%;
}
#stand {
    position: absolute;
    height: 94%;
    width: 29%;
    left: 55.7%;
    top: -1%;
}
#scene2 {
    position: absolute;
   
    height: 335px;
    width: 558px;
    display: none;
}
#burner{
    width: 20%;
    position: absolute;
    height: 19%;
    left: 80%;
    top: 62%;
    z-index: 1;

}
#tripod{
    position: absolute;
    height: 33%;
    left: 74%;
    top: 49%;
    width: 22%;
    transform: scaleX(-1);
}
#burnerSwitch{
    width: 8%;
    position: absolute;
    height: 7%;
    left: 81%;
    top: 74%;
}
.userSelect { 
 -webkit-user-select:none;
 -khtml-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select: none;
}

#thermometerScene2{
    position: absolute;
    top: 38%;
    left: 66%;
    height: 4%;
    width: 19%;
    transform: rotate(-90deg);
}
#solidThread{
    position: absolute;
    top: 22%;
    left: 77%;
    height: 33%;
    width: 7%;
    display: none;
}
#solidThreadlie{
    position: absolute;
    top: -66%;
    left: 34%;
    height: 245%;
    width: 37%;
    transform: rotate(-90deg);
}
#solidThreadLieDiv{
    position: absolute;
    top: 59%;
    left: 31%;
    height: 18%;
    width: 24%;
    display: none;

}


.newFireAnimation {
    position: absolute;
    width: 10%;
    height: 51%;
    top: 307%;
    left: 501%;
    z-index: 1;
    display: none;

}

.fireAnimation {
    position: absolute;
    width: 90px;
    height: 64px;
}


.newBubbleAnimation {
    position: absolute;
    width: 59%;
    height: 60%;
    top: 235%;
    left: 468%;
    z-index: 1;
    display: none;

}

.bubbleAnimation {
    position: absolute;
    width: 90px;
    height: 64px;
}
.newClockAnimation {
    position: absolute;
    width: 107%;
    height: 142%;
    top: 11%;
    left: 514%;
    z-index: 1;
    display: none;

}

.clockAnimation {
    position: absolute;
    width: 90px;
    height: 64px;
}
