
#canvasBox{
	overflow:hidden;
	
}

#bgCanvas {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

#tableCanvas {
	position:absolute;
    width: 90%;
    height: 96%;
    top: 68%;
    left: 3%;
}

#standtopCanvas {
    position: absolute;
    width: 60%;
    height: 65%;
    top: 58%;
    left: 5.2%;
    z-index: 999999;
}

#springBal01Canvas {
	position:absolute;
    width: 34%;
    height: 25%;
	top: 62%;
    left: 4%;
	z-index:99999;
}

#springBal02Canvas {
	position:absolute;
    top: 65%;
    width: 48%;
    left: 16%;
	z-index:9999;
}

#springBal03Canvas {
	position:absolute;
	top: 65%;
    left: 39%;
	width: 48%;
	z-index:999;
}

#springBal04Canvas {
	position:absolute;
    top: 66%;
    left: 40%;
	z-index:9999;
}

#springBal05Canvas {
	position:absolute;
    width: 34%;
    height: 25%;
    top: 62.5%;
    left: 46%;
	z-index:999;
}

#handCanvas {
	position:absolute;
    width: 45%;
    top: 38%;
    left: 74%;
	z-index:999;
	overflow:hidden;
}

#scale01 {
	position:absolute;
    width: 38%;
    height: 41%;
    top: 6%;
    left: 3%;
	overflow:hidden;
	border:#FFF solid;
}

#scaleImg01 {
	position:absolute;
    left: -122%;
    top: -12%;
    width: 414%;
    height: 131%;
}

#scale02 {
	position:absolute;
    width: 39%;
    height: 41%;
    top: 6%;
    left: 47.5%;
	overflow:hidden;
	border:#FFF solid;
 	z-index:99;
}

#scaleImg02 {
	position:absolute;
    left: -184%;
    top: -19%;
    width: 405%;
    height: 131%;
}

#pointer01 {
	position:absolute;
	height: 8%;
    width: 2%;
    top: 23%;
    left: 16.2%;
	z-index:99999;
}

#pointerImg01 {
    width: 100%;
    height: 100%;	
}

#pointer02 {
	position:absolute;
	height: 8%;
    width: 2%;
    top: 24%;
    left: 72%;
	z-index:99999;
}

#pointerImg02 {
    height: 100%;
    width: 100%;
}

#dotted01 {
	position:absolute;
	width: 38%;
    top: 48%;
    left: 3%;
}

#dotted02 {
	position:absolute;
	width: 38%;
    top: 48%;
    left: 48%;
}

#dottedImg01,#dottedImg02{
	width:100%;
}

#mark01 {
    position: absolute;
    top: 65%;
    left: 20.42%;
    z-index: 99999;
    width: 1px;
    height: 10px;
}

#markImg01 {
	width:2px;
	height:10px;
}

#mark02 {
    position: absolute;
    top: 65%;
    left: 60.99%;
    z-index: 99999;
    width: 2px;
    height: 10px;
}

#markImg02 {
	width:2px;
	height:10px;
}
.varTitle {
    padding: 3px 0px 8px 5px !important;
}

input[type="range"] {
    display: block;
    width: 95% !important;
}
.rangeSlider {
    margin: 15px 0px 10px 5px;
}
.box{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    overflow: hidden;
}
#sidebar-wrapper {
	z-index:9999999 !important;
}
.form-control{
	width:75%;
}