.varTitle {
	padding: 2px 0px 2px 7px !important;
}
.rangeSlider {
	margin: 3px 0px 0px 25px !important;
	cursor:pointer;
}
#mainDiv,#zoomArea{
	position:absolute;
	top: 0px;
	left: 0px;
	width:570px;
	height:337px;
	overflow:hidden;
	background:#FFF;
	opacity:0.99;

}
#zoomInArea{
	display: none;
}
#zoomOutArea{ 
	position:absolute; 
	top: 0px;
	left: 0px;
	width:570px;
	height:337px;
}
#dragTube{
	position:absolute; 
	top: 60px;
    left: 241px;
    width: 83px;
    height: 270px;
    cursor: all-scroll;
}
.subButton{
	margin-left: 2px;
	width: 177px;
	font-size: 10px;
}
/*Controls*/
#surroundingTempLbl{ 
	margin:0px 0px 0px 0px; 
}
#surroundingTempVal { 
	margin: -15px 0px 0px 155px; 
}
#tempMinVal {
	 margin: 0px 0px 0px 14px;
}
#tempMaxVal { 
	margin: 0px 0px 0px 105px; 
}
#tubeDiameterLbl{ 
	margin:0px 0px 0px 0px; 
}
#tubeDiameterVal { 
	margin: -15px 0px 0px 140px; 
}
#tubeDiameterMinVal {
	 margin: 0px 0px 0px 14px;
}
#tubeDiameterMaxVal { 
	margin: 0px 0px 0px 105px; 
}
#tuningForkFreqLbl{ 
	margin:0px 0px 0px 0px; 
}
#tuningForkFreqVal { 
	margin: -15px 0px 0px 149px; 
}
#tuningForkFreqMinVal {
	 margin: 0px 0px 0px 14px;
}
#tuningForkFreqMaxVal { 
	margin: 0px 0px 0px 90px; 
}
#heightLbl{ 
	margin:0px 0px 0px 0px; 
}
#heightVal { 
	margin: -15px 0px 0px 140px; 
}
#heightMinVal {
	 margin: 0px 0px 0px 14px;
}
#heightMaxVal { 
	margin: 0px 0px 0px 90px; 
}
/*----Canvas---*/
#bg{
	position:absolute;
	top:-196px;
}
#bg_Zoom{
	position:absolute;
}
#resonanceBeaker{
	position:absolute;
	top: 54px;
  left: 241px;
}
#resonanceTube{
    position:absolute;
    top:160px;
    width:60px;
    height:246px;
    cursor: pointer;
}
#scaleToMove{
   position:absolute;
   top:160px;
   left: 17px;
}
#glassToMove{
   position:absolute;
   top:160px;
   width: 23px;
   height: 246px;
   left: -2.5px;
}
#waveDiv{
   position:absolute;
   top: 156px;
   left: -4px;
   width: 33px;
   height: 246px;
   overflow: hidden;
   display: none;
}
#wave{
   position:absolute;
   top: 157px;
   left:10px;
   width:19px;
   height:244px; 
}
#wave2{
   position:absolute;
   top: 157px;
   left:10px;
   width:19px;
   height:244px; 

}
#tubeHelp{
	position:absolute;
   top: 83px;
   left: 280px;
   width: 1px;
   height: 1px;
}
#resonanceDragArea{
	position:absolute;
    top: -120px;
    left: 269px;
    width:60px;
    height: 400px;
}
#tuningFork{
	position:absolute;
    top: 11px;
    left: 169px;
}
#zoomIcon{
	position:absolute;
    top: 11px;
    left: 518px;
}
#resonanceTubeZoom{
	position:absolute;
    top: -217px;
    left: -183px;
}
#scaleZoom{
	position:absolute;
  top: -40px;
  left: 331px;
}
#scaleBgZoom{
	  position:absolute;
	  top: -6px;
    left: 330px;
    width: 100px;
    height: 348px;
    background-color: #C1C100;
}
#zoomOutClick,#zoomInClick{
	position: absolute;
	width: 35px;
    height: 33px;
    left: 514px;
}
#zoomOutClick{
	top:40px;
	cursor:zoom-out;
}
#zoomInClick{
	top:5px; 
	cursor:zoom-in;
}
#showAns{
	position: relative;
}
#answer{
	margin: 9px 0px 0px 7px;
}
#endCorrection{
  margin: 10px 0px 0px 20px;
}
#answerLabel{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-weight: 500;
   color: #626262;
   padding:11px 26px 0px 29px;
}
#endCorrectionVal{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   padding:0px 0px 0px 0px;
}
#endCorrection{
  display: none;
}
#resultLabel{
	  padding: 4px 0px 0px 2px;  
}
#forkVibration {
	position: absolute;
	left: 269px;
  top: 1px;
  display: none;
	cursor:pointer;
}
#waterDiv{
  position: absolute;
  width: 49px;
  height: 220px;
  top: 78px;
  left: 255px;
  
}
#water{
  position: absolute;
  top:-1px;
  width: 49px;
  border-top:solid #FFF 1px;
  height: 220px;
}
#line{
  position: absolute;
  left: 303px;
  top: 164px;
  background-color: #C1C100;
  height: 2px;
  width: 101px;
}


/*-------------*/