
#bgCanvas {
	height: 440px;
	width: 570px;
}

#canvasBox{
	overflow:hidden;
	
}

#tableCanvas {
	position:absolute;
	width:520px;
	height:395px;
	top:216px;
	left:10px;
}

#standtopCanvas {
	position:absolute;
	
	width:520px;
	height:400px;
	top:218px;
	left:21.75px;
	z-index:99999;
}

#springBal01Canvas {
	position:absolute;
	width:290px;
	height:250px;
	
	top:223px;
	left:20px;
	z-index:9999;
}

#springBal02Canvas {
	position:absolute;
	/*width:290px;
	height:250px;*/
	
	top:223px;
	left:64px;
	z-index:999;
}

#spring02Canvas {
	position:absolute;
	/*width:290px;
	height:250px;*/
	
	top:102px;
	left:60px;
	z-index:9;
}

#scale01 {
	position:absolute;
	width:200px;
	height:140px;
	top:10px;
	left:125px;
	overflow:hidden;
	border:#FFF solid;
	/*z-index:99;*/
 	
}

#scaleImg01 {
	position:absolute;
	left:-240px;
	top:-20px;
	
	/*top:-30px;
	left:-40px;
	width:120px;
	
	overflow:hidden;
	z-index:99999;*/
 	
}

#scale02 {
	position:absolute;
	width:200px;
	height:140px;
	top:10px;
	left:270px;
	overflow:hidden;
	border:#FFF solid;
 	z-index:99;
}

#scaleImg02 {
	position:absolute;
	position:absolute;
	left:-240px;
	top:-20px;
	
	/*top:-30px;
	left:-40px;
	width:120px;
	
	overflow:hidden;
	z-index:99999;*/
 	
}

#pointer01 {
	position:absolute;
	/*width:4px;*/
	height:30px;
	
	top:70px;
	left:194px;
	z-index:99999;
 	
}

#pointerImg01 {
	width:100%;
	height:100%;	
}

#pointer02 {
	position:absolute;
	/*width:4px;*/
	height:30px;
	
	top:70px;
	left:320px;
	z-index:99999;
 	
}

#pointerImg02 {
	width:100%;
	height:100%;	
}

#dotted01 {
	position:absolute;
	top:159px;
	left:125px;
	/*width:4px;
	height:30px;
	z-index:99999;*/
 	
}

#dottedImg01 {
	/*width:100%;
	height:100%;*/	
}

#dotted02 {
	position:absolute;
	top:159px;
	left:250px;
	/*width:4px;
	height:30px;
	z-index:99999;*/
 	
}

#dottedImg02 {
	/*width:100%;
	height:100%;*/	
}

#mark01 {
	position:absolute;
	/*width:4px;*/
	top:237px;
	left:104.2px;
	z-index:99999;
 	width:2px;
	height:10px;
}

#markImg01 {
	width:100%;
	height:100%;	
}

#mark02 {
	position:absolute;
	/*width:4px;*/
	top:237px;
	left:289.5px;
	z-index:99999;
 	width:2px;
	height:10px;
}

#markImg02 {
	width:100%;
	height:100%;	
}





